<div class="container">

    <mat-icon class="edit">edit</mat-icon>

    <p class="header">Услуги</p>

    <div class="sort-by">
        <label>
            <input value='все' (change)='setFilter($event)' type="radio" name="sortByServices" checked>
            <p>Все</p>
            <span class="amount-all">{{getServiceCountBySegment(servicesAll)}}</span>
        </label>

        <label>
            <input value='эконом' (change)='setFilter($event)' type="radio" name="sortByServices">
            <p>эконом</p>
            <span class="amount-economy">{{getServiceCountBySegment(servicesLow)}}</span>
        </label>

        <label>
            <input value='стандарт' (change)='setFilter($event)' type="radio" name="sortByServices">
            <p>стандарт</p>
            <span class="amount-standard">{{getServiceCountBySegment(servicesStandart)}}</span>
        </label>

        <label>
            <input value='премиум' (change)='setFilter($event)' type="radio" name="sortByServices">
            <p>премиум</p>
            <span class="amount-premium">{{getServiceCountBySegment(servicesPremium)}}</span>
        </label>
    </div>

    <div class="services">
        <ng-container *ngFor="let service of services">
            <div *ngIf="service.subServices.length" class="service">
                <app-service [service]='service'></app-service>
            </div>
        </ng-container>
    </div>

    <button class="button-show-all-services">Показать все услуги</button>

</div>