<div class="container" *ngIf="card">

    <div class="left-column">
        <app-profile-face [performer]="card"></app-profile-face>
        <app-requisites></app-requisites>
    </div>

    <div class="right-column">
        <app-basic-info [performer]="card"></app-basic-info>
        <app-gallery [id]="card.id"></app-gallery>
        <app-service-list [srv]='card.services' [id]='card.id' ></app-service-list>
        <!-- <ng-container *ngIf="reviews">
            <app-reviews [reviews]="reviews"></app-reviews>
        </ng-container> -->

        <app-accepted-orders [orders]="getOrdersByStatus('Выполнена')"></app-accepted-orders>
        <app-posted-orders [orders]="getOrdersByStatus('Размещена')"></app-posted-orders>
        <app-documents></app-documents>
        <app-certificates></app-certificates>
    </div>

</div>