.wrapper {
    width: 100%;
    padding: 31px 0 56px 32px;
    background-color: #F7F9FB;

    h2 {
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
        width: 100%;
        max-width: 720px;
    }

    button.save {
        width: 100%;
        height: 48px;
        margin-top: 8px;
        background-color: #0D6FE3;
        border-radius: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        &:disabled {
            opacity: 0.6;
        }
    }

    .container {
        width: 720px;
        padding: 21px 23px 23px 23px;
        margin: 24px 0 0 0;
        background-color: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
        h3 {
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }    
        .description {
            margin-bottom: 17px;
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
        button.add {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 256px;
            height: 48px;
            margin-top: 24px;
            background-color: rgb(156,188,221,0.2);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #334D6E;
            &.empty {
                margin-top: 18px;
            }  
            mat-icon{
                margin-right: 9px;
                color: #7D8FA5;
            }
        }
        input, select {
            width: 100%;
            height: 26px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #334D6E;
            border: none;
            position: relative;
            padding: 0 12px;
            background: transparent;
        }    
        input[type='checkbox']{
            width: 20px;
            height: 20px;
        }    
        select {
            background-image: url(/assets/images/select-arrow.performersPage.png);
            background-repeat: no-repeat;
            background-position: right;
            background-position-x: calc(100% - 18px);        
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:focus{
                outline: none;
            }
        }
        mat-icon.delete {
            margin: 8px 0 0 16px;
            font-size: 28px;
            color: #8594A8;
            cursor: pointer;
        }    
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #334D6E;
        }
        legend {
            position: relative;
            top: 1px;
            margin-left: 7px;
            padding: 0 4px;
            font-size: 12px;
            line-height: 18px;
            color: #8594A8;
        }
        .block {
            display: flex;
            align-items: center;
            margin-bottom: 15px;  
            p {
                margin: 8px 0 0 0;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #334D6E;
            }
    
            .title-mobile{
                display: none;
            }
    
            fieldset{
                width: 100%;
                height: 53px;
                margin-left: 16px;
                border: 1px solid #C3CBD6;
                border-radius: 4px;
            }
        }       
    
        .contact-face{
            position: relative;
            margin: 16px 0;
            padding: 15px 15px 14px 15px;
            background: #F7F9FB;
            border: 1px solid #E3E9F2;
            border-radius: 4px;
    
            .fieldsets{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                fieldset{
                    flex: 0 0 48.7%;
                    height: 53px;
                    margin-top: 15px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;            
                }
            }
    
            label {
                display: flex;
                align-items: center;
                margin-top: 15px;    
                input {
                    width: 20px;
                    height: 20px;
                }    
                p {
                    margin: 2px 0 0 8px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
    
            mat-icon.delete {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    
        .fieldsets{
            display: flex;
            justify-content: space-between;
            margin-top: 17px;    
            .house-and-apartment{
                flex: 0 0 48.81%;    
                fieldset{
                    width: 100%;
                    height: 53px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
                }    
                .mini-fieldsets{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;    
                    fieldset{
                        flex: 0 0 47.5645%;
                    }
                }
            }
        }      
    
        .performer-type{
            position: relative;
            margin: 16px 0;
            padding: 15px 15px 14px;
            background: #F7F9FB;
            border: 1px solid #E3E9F2;
            border-radius: 4px;
    
            .fieldsets{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                fieldset{
                    flex: 0 0 48.7%;
                    height: 53px;
                    margin-top: 15px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
                }
            }
    
            label{
                display: flex;
                align-items: center;
                margin-top: 15px;    
                p {
                    margin: 2px 0 0 8px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
    
            mat-icon {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 24px 56px 24px;

        .header{
            width: 720px;
        }

        .container {
            margin: 0 0 24px;
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper{
        display: block;
        padding: 31px 16px 56px;
        .header{
            width: 100%;
            margin: 1px 0 16px;
            font-size: 24px;
            line-height: 28px;
        }
        .container {
            width: 100%;
            margin: 0 0 16px;
            padding: 15px;    
            h3{
                margin-bottom: 7px;
            }    
            .description{
                font-size: 14px;
                line-height: 20px;
            } 
            button.add {
                width: 100%;
                margin-top: 16px;
            }
            .block {
                position: relative;
                display: block;
                padding: 15px;
                margin-bottom: 16px;
                background: #F7F9FB;
                border: 1px solid #E3E9F2;
                border-radius: 4px;    
                .title{
                    display: none;
                }    
                .title-mobile{
                    display: block;
                    margin: 0 5px 0 0;
                }    
                fieldset{
                    width: 100%;
                    margin: 15px 0 0;    
                    input{
                        background: #F7F9FB;
                    }
                }    
                mat-icon.delete{
                    position: absolute;
                    top: 3px;
                    right: 15px;
                }
            }  
            .fieldsets fieldset{
                flex: 0 0 100%;
            }
    
            label input {
                min-width: 20px;                
            }
            .fieldsets{
                flex-direction: column;        
                .house-and-apartment{
                    flex: 0 0 100%;        
                    fieldset{
                        width: 100%;
                    }        
                    .mini-fieldsets{
                        flex-direction: column;
                        margin-top: 0;
                    }
                }
            } 
        }
    }
}