.container{
    width: 100%;
    padding: 31px 0 56px 32px;
    background-color: #F7F9FB;

    .header{
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
    }

    .button-save-changes{
        width: 720px;
        height: 48px;
        margin-top: 8px;
        background-color: #0D6FE3;
        border-radius: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .container-departure-areas{
        width: 720px;
        padding: 21px 23px 23px 23px;
        margin: 24px 0 0 0;
        background-color: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
    
        .header{
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }
    
        .description{
            margin-bottom: 17px;
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
    
        .departure-area{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
    
            p{
                margin: 8px 0 0 0;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #334D6E;
            }
    
            .title-mobile{
                display: none;
            }
    
            fieldset{
                width: 291px;
                height: 53px;
                margin-left: 16px;
                border: 1px solid #C3CBD6;
                border-radius: 4px;
        
                legend{
                    position: relative;
                    top: 1px;
                    margin-left: 7px;
                    padding: 0 4px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #8594A8;
                }
        
                input{
                    width: 100%;
                    height: 26px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #334D6E;
                    border: none;
                    position: relative;
                    padding: 0 12px;
                }
            }
    
            mat-icon{
                margin: 8px 0 0 16px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    
        .button-add-departure-area{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 256px;
            height: 48px;
            margin-top: 24px;
            background-color: rgb(156,188,221,0.2);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #334D6E;
    
            mat-icon{
                margin-right: 9px;
                color: #7D8FA5;
            }
        }
    }

    .container-metro{
        width: 720px;
        padding: 21px 23px 23px 23px;
        margin: 24px 0;
        background-color: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
    
        .header{
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }
    
        .description{
            margin-bottom: 17px;
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
    
        .metro{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
    
            p{
                margin-top: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #334D6E;
            }
    
            .title-mobile{
                display: none;
            }
    
            fieldset{
                width: 100%;
                height: 53px;
                margin-left: 16px;
                border: 1px solid #C3CBD6;
                border-radius: 4px;
        
                legend{
                    position: relative;
                    top: 1px;
                    margin-left: 7px;
                    padding: 0 4px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #8594A8;
                }
        
                input{
                    width: 100%;
                    height: 26px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #334D6E;
                    border: none;
                    position: relative;
                    padding: 0 12px;
                }
            }
    
            mat-icon{
                margin: 8px 4px 0 16px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    
        .button-add-metro{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 256px;
            height: 48px;
            margin-top: 24px;
            background-color: rgb(156,188,221,0.2);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #334D6E;
    
            mat-icon{
                margin-right: 9px;
                color: #7D8FA5;
            }
        }
    }

    .container-contact-face{
        width: 720px;
        padding: 21px 23px 23px 23px;
        margin: 24px 0;
        background-color: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
    
        .header{
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }
    
        .description{
            margin-bottom: 18px;
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
    
        .contact-face{
            position: relative;
            margin: 16px 0;
            padding: 15px 15px 14px 15px;
            background: #F7F9FB;
            border: 1px solid #E3E9F2;
            border-radius: 4px;
    
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }
    
            .fieldsets{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                fieldset{
                    flex: 0 0 48.7%;
                    height: 53px;
                    margin-top: 15px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
            
                    legend{
                        position: relative;
                        top: 1px;
                        margin-left: 7px;
                        padding: 0 4px;
                        font-size: 12px;
                        line-height: 18px;
                        color: #8594A8;
                    }
            
                    input{
                        width: 100%;
                        height: 26px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #334D6E;
                        background: #F7F9FB;
                        border: none;
                        position: relative;
                        padding: 0 12px;
                    }
                }
            }
    
            label{
                display: flex;
                align-items: center;
                margin-top: 15px;
    
                input{
                    width: 20px;
                    height: 20px;
                }
    
                p{
                    margin: 2px 0 0 8px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
    
            mat-icon{
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    
        .button-add-contact-face{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 256px;
            height: 48px;
            margin-top: 16px;
            background-color: rgb(156,188,221,0.2);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #334D6E;
    
            mat-icon{
                margin-right: 9px;
                color: #7D8FA5;
            }
        }
    }

    .container-location{
        width: 720px;
        padding: 21px 23px 23px 23px;
        background: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
    
        .header{
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }
    
        .description{
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
    
        .fieldsets{
            display: flex;
            justify-content: space-between;
            margin-top: 17px;
    
            .house-and-apartment{
                flex: 0 0 48.81%;
    
                fieldset{
                    width: 100%;
                    height: 53px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
            
                    legend{
                        position: relative;
                        top: 1px;
                        margin-left: 7px;
                        padding: 0 4px;
                        font-size: 12px;
                        line-height: 18px;
                        color: #8594A8;
                    }
            
                    input{
                        width: 100%;
                        height: 26px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #334D6E;
                        border: none;
                        position: relative;
                        padding: 0 12px;
                    }
                }
    
                .mini-fieldsets{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
    
                    fieldset{
                        flex: 0 0 47.5645%;
                    }
                }
            }
        }
    }

    .container-performer-type{
        width: 720px;
        padding: 21px 23px 23px 23px;
        margin: 24px 0;
        background-color: #FFFFFF;
        border: 1px solid #E3E9F2;
        border-radius: 4px;
    
        .header{
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }
    
        .description{
            margin-bottom: 18px;
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }
    
        .performer-type{
            position: relative;
            margin: 16px 0;
            padding: 15px 15px 14px 15px;
            background: #F7F9FB;
            border: 1px solid #E3E9F2;
            border-radius: 4px;
    
            p{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }
    
            .fieldsets{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                fieldset{
                    flex: 0 0 48.7%;
                    height: 53px;
                    margin-top: 15px;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
            
                    legend{
                        position: relative;
                        top: 1px;
                        margin-left: 7px;
                        padding: 0 4px;
                        font-size: 12px;
                        line-height: 18px;
                        color: #8594A8;
                    }
            
                    select{
                        width: 100%;
                        height: 26px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #334D6E;
                        background: #F7F9FB;
                        border: none;
                        position: relative;
                        padding: 0 12px;
                        background-image: url(/assets/images/select-arrow.performersPage.png);
                        background-repeat: no-repeat;
                        background-position: right;
                        background-position-x: calc(100% - 18px);
                    
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
            
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
    
            label{
                display: flex;
                align-items: center;
                margin-top: 15px;
    
                input{
                    width: 20px;
                    height: 20px;
                }
    
                p{
                    margin: 2px 0 0 8px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
    
            mat-icon{
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 28px;
                color: #8594A8;
                cursor: pointer;
            }
        }
    
        .button-add-performer-type{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 256px;
            height: 48px;
            margin-top: 14px;
            background-color: rgb(156,188,221,0.2);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #334D6E;
    
            mat-icon{
                margin-right: 9px;
                color: #7D8FA5;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 24px 56px 24px;

        .header{
            width: 720px;
        }

        .container-departure-areas, .container-location, .container-contact-face, .container-metro, .container-performer-type{
            margin: 0 0 24px 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .container{
        display: block;
        padding: 31px 16px 56px 16px;

        .header{
            width: 100%;
            margin: 1px 0 16px 0;
            font-size: 24px;
            line-height: 28px;
        }

        .button-save-changes{
            width: 100%;
        }

        .container-departure-areas{
            width: 100%;
            margin: 0 0 16px 0;
            padding: 15px;
    
            .header{
                margin-bottom: 7px;
            }
    
            .description{
                font-size: 14px;
                line-height: 20px;
            }
    
            .departure-area{
                position: relative;
                display: block;
                padding: 15px;
                margin-bottom: 16px;
                background: #F7F9FB;
                border: 1px solid #E3E9F2;
                border-radius: 4px;
    
                .title{
                    display: none;
                }
    
                .title-mobile{
                    display: block;
                    margin: 0 5px 0 0;
                }
    
                fieldset{
                    width: 100%;
                    margin: 15px 0 0 0;
    
                    input{
                        background: #F7F9FB;
                    }
                }
    
                mat-icon{
                    position: absolute;
                    top: 3px;
                    right: 15px;
                }
            }
    
            .button-add-departure-area{
                width: 100%;
                margin-top: 16px;
            }
        }

        .container-metro{
            width: 100%;
            padding: 15px;
            margin: 0 0 16px 0;
    
            .header{
                margin-bottom: 7px;
            }
    
            .description{
                font-size: 14px;
                line-height: 20px;
            }
    
            .metro{
                position: relative;
                display: block;
                padding: 16px;
                margin-bottom: 16px;
                background: #F7F9FB;
                border: 1px solid #E3E9F2;
                border-radius: 4px;
    
                .title{
                    display: none;
                }
    
                .title-mobile{
                    display: block;
                    margin: 0 5px 0 0;
                }
    
                fieldset{
                    width: 100%;
                    margin: 15px 0 0 0;
    
                    input{
                        background: #F7F9FB;
                    }
                }
    
                mat-icon{
                    position: absolute;
                    top: 3px;
                    right: 15px;
                }
            }
    
            .button-add-metro{
                width: 100%;
                margin-top: 16px;
            }
        }

        .container-contact-face{
            width: 100%;
            margin: 0 0 16px 0;
            padding: 15px;
    
            .header{
                margin-bottom: 7px;
            }
    
            .description{
                font-size: 14px;
                line-height: 20px;
            }
    
            .contact-face{
    
                .fieldsets{
        
                    fieldset{
                        flex: 0 0 100%;
                    }
                }
            }
    
            label{
    
                input{
                    min-width: 20px;
                }
            }
    
            .button-add-contact-face{
                width: 100%;
            }
        }

        .container-location{
            width: 100%;
            margin: 0 0 16px 0;
            padding: 15px;
    
            .header{
                margin-bottom: 7px;
            }
    
            .description{
                font-size: 14px;
                line-height: 20px;
            }
    
            .fieldsets{
                flex-direction: column;
        
                .house-and-apartment{
                    flex: 0 0 100%;
        
                    fieldset{
                        width: 100%;
                    }
        
                    .mini-fieldsets{
                        flex-direction: column;
                        margin-top: 0;
                    }
                }
            }
        }

        .container-performer-type{
            width: 100%;
            margin: 0 0 16px 0;
            padding: 15px;
    
            .header{
                margin-bottom: 7px;
            }
    
            .description{
                font-size: 14px;
                line-height: 20px;
            }
    
            .performer-type{
    
                .fieldsets{
    
                    fieldset{
                        flex: 0 0 100%;
                    }
                }
    
                label{
    
                    input{
                        min-width: 20px;
                    }
                }
            }
    
            .button-add-performer-type{
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}