<div class="container">

    <p class="header">Основная информация</p>

    <form [formGroup]="infoForm" (ngSubmit)="submit()">
        <!-- <app-service-categories></app-service-categories> -->

        <div class="container-departure-areas">

            <p class="header">Районы выезда</p>
        
            <p class="description" *ngIf="array('departureAreas').length === 0; else fieldIs">Вы не указали районы выезда. Добавьте районы выезда, чтобы заказчикам было легче Вас найти и Вы смогли получать больше заказов из разных частей города.</p>
        
            <ng-template #fieldIs>
                <p class="description">Добавьте районы выезда, чтобы заказчикам было легче Вас найти и Вы смогли получать больше заказов из разных частей города.</p>
            </ng-template>

            <ng-container *ngFor="let departureArea of array('departureAreas'), let i = index" formArrayName="departureAreas">
                <div class="departure-area" [formGroupName]="i">
                    <p class="title">{{ i + 1 }}.</p>
                    <p class="title-mobile">Район выезда {{ i + 1 }}</p>
            
                    <fieldset>
                        <legend>Населенный пункт</legend>
                        <input type="text" formControlName="locality">
                    </fieldset>
            
                    <fieldset>
                        <legend>Район</legend>
                        <input type="text" formControlName="district">
                    </fieldset>
            
                    <mat-icon (click)="deleteElement(array('departureAreas'), i)">delete</mat-icon>
                </div>
            </ng-container>

            <button class="button-add-departure-area" (click)="addDepartureArea()" [ngStyle]="{marginTop: array('departureAreas').length === 0 ? '18px' : ''}"><mat-icon>add</mat-icon>Добавить район выезда</button>
        
        </div>

        <div class="container-metro">

            <p class="header">Метро</p>
        
            <p class="description" *ngIf="array('metro').length === 0; else fieldIs">Вы не указали станции метро. Добавьте станции метро, чтобы заказчикам было легче Вас найти и Вы смогли получать больше заказов из разных частей города.</p>
        
            <ng-template #fieldIs>
                <p class="description">Добавьте станции метро, чтобы заказчикам было легче Вас найти и Вы смогли получать больше заказов из разных частей города.</p>
            </ng-template>

            <ng-container *ngFor="let oneMetro of array('metro'), let i = index" formArrayName="metro">
                <div class="metro" [formGroupName]="i">
                    <p class="title">{{ i + 1 }}.</p>
                    <p class="title-mobile">Район выезда {{ i + 1 }}</p>
            
                    <fieldset>
                        <legend>Станция метро</legend>
                        <input type="text" formControlName="subwayStation">
                    </fieldset>
            
                    <mat-icon (click)="deleteElement(array('metro'), i)">delete</mat-icon>
                </div>
            </ng-container>
        
            <button class="button-add-metro" (click)="addMetro()" [ngStyle]="{marginTop: array('metro').length === 0 ? '18px' : ''}"><mat-icon>add</mat-icon>Добавить метро</button>
        
        </div>

        <div class="container-contact-face">

            <p class="header">Контактное лицо</p>
        
            <p class="description" *ngIf="array('contactFace').length === 0; else fieldIs">Вы не добавили контактное лицо. Добавьте контактное лицо, чтобы заказчики могли оставлять заявки конкретному человеку.</p>
        
            <ng-template #fieldIs>
                <p class="description">Добавьте контактное лицо, чтобы заказчики могли оставлять заявки конкретному человеку.</p>
            </ng-template>
        
            <ng-container *ngFor="let OneContactFace of array('contactFace'), let i = index" formArrayName="contactFace">
                <div class="contact-face" [formGroupName]="i">
                    <p>Контактное лицо {{ i + 1 }}</p>

                        <div class="fieldsets">
                            <fieldset>
                                <legend>Фамилия</legend>
                                <input type="text" formControlName="lastName">
                            </fieldset>
                
                            <fieldset>
                                <legend>Имя</legend>
                                <input type="text" formControlName="firstName">
                            </fieldset>
                
                            <fieldset>
                                <legend>Телефон</legend>
                                <input type="text" formControlName="tel">
                            </fieldset>
                
                            <fieldset>
                                <legend>E-mail</legend>
                                <input type="text" formControlName="email">
                            </fieldset>
                        </div>
            
                    <label>
                        <input type="checkbox" name="" id="">
                        <p>Использовать в качестве основного контактного лица</p>
                    </label>
            
                    <mat-icon (click)="deleteElement(array('contactFace'), i)">delete</mat-icon>
                </div>
            </ng-container>
        
            <button class="button-add-contact-face" (click)="addContactFace()" [ngStyle]="{marginTop: array('contactFace').length === 0 ? '18px' : ''}"><mat-icon>add</mat-icon>Добавить контактное лицо</button>
        
        </div>

        <div class="container-location">

            <p class="header">Местоположение</p>
        
            <p class="description">Добавьте местоположение, чтобы заказчики могли посещать Ваш офис.</p>

            <div class="fieldsets" formGroupName="location">
                <div class="house-and-apartment">
                    <fieldset>
                        <legend>Населенный пункт</legend>
                        <input type="text" placeholder="Введите название" formControlName="locality">
                    </fieldset>
        
                    <div class="mini-fieldsets">
                        <fieldset>
                            <legend>Дом</legend>
                            <input type="text" placeholder="Введите номер" formControlName="house">
                        </fieldset>
            
                        <fieldset>
                            <legend>Литера</legend>
                            <input type="text" placeholder="Введите номер" formControlName="typographicLiterature">
                        </fieldset>
                    </div>
                </div>
        
                <div class="house-and-apartment">
                    <fieldset>
                        <legend>Улица</legend>
                        <input type="text" placeholder="Введите название" formControlName="street">
                    </fieldset>
        
                    <div class="mini-fieldsets">
                        <fieldset>
                            <legend>Корпус</legend>
                            <input type="text" placeholder="Введите номер" formControlName="housing">
                        </fieldset>
            
                        <fieldset>
                            <legend>Офис/квартира</legend>
                            <input type="text" placeholder="Введите номер" formControlName="apartment">
                        </fieldset>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="container-performer-type">

            <p class="header">Тип исполнителя</p>
        
            <p class="description" *ngIf="array('performerType').length === 0; else fieldIs">Вы не выбрали тип исполнителя. Выберите тип исполнителя, чтобы пользователи понимали с кем они будут работать.</p>
        
            <ng-template #fieldIs>
                <p class="description">Выберите тип исполнителя, чтобы пользователи понимали с кем они будут работать.</p>
            </ng-template>
        
            <ng-container *ngFor="let OnePerformerType of array('performerType'), let i = index" formArrayName="performerType">
                <div class="performer-type" [formGroupName]="i">
                    <p>Исполнитель {{ i + 1 }}</p>
            
                    <div class="fieldsets">
                        <fieldset>
                            <legend>Тип исполнителя</legend>
                            <select formControlName="performerType">
                                <option>Не выбран</option>
                                <option value="юридическое лицо">Юридическое лицо</option>
                                <option value="индивидуальный предприниматель">Индивидуальный предприниматель</option>
                            </select>
                        </fieldset>
            
                        <fieldset>
                            <legend>Реквизиты</legend>
                            <select formControlName="requisites">
                                <option>Не выбран</option>
                                <option value="ООО “Строитель-исполнитель”">ООО “Строитель-исполнитель”</option>
                                <option value="ИП Иванов">ИП Иванов</option>
                            </select>
                        </fieldset>
                    </div>
            
                    <label>
                        <input type="checkbox" name="" id="">
                        <p>Использовать в качестве основного исполнителя</p>
                    </label>
            
                    <mat-icon (click)="deleteElement(array('performerType'), i)">delete</mat-icon>
                </div>
            </ng-container>
        
            <button class="button-add-performer-type" (click)="addPerformerType()" [ngStyle]="{marginTop: array('performerType').length === 0 ? '18px' : ''}"><mat-icon>add</mat-icon>Добавить тип исполнителя</button>
        
        </div>

        <button class="button-save-changes" type="submit">Сохранить изменения</button>
    </form>

</div>