.container{
    width: 100%;
    padding: 31px 0 56px 32px;
    background-color: #F7F9FB;

    .header{
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
    }

    .button-save-changes{
        width: 720px;
        height: 48px;
        margin-top: 8px;
        background-color: #0D6FE3;
        border-radius: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
    }
}