.filter{
    width: 100%;
    padding: 16px 32px;
    border-bottom: 1px solid #C3CBD6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .filter-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        p {
            color: #334D6E;
            font-weight: 700;
            line-height: 24px;
        }

        .mat-icon {
            color: rgb(133, 148, 168);
            transition: all 200ms linear;
            transform: rotate(0);
        }
    }

    .filter-inner {
        display: none;
        flex-direction: column;
        label {
            display: flex;
            align-items: center;
            margin-top: 12px;
            font-size: 14px;
            color: #334D6E;

            &:hover{
                cursor: pointer;
            }

            input[type='radio']{
                display: none;
            }

            input[type='radio']:checked + .circle .circle-inner{
                background-color: #0D6FE3;
            }
            
            input[type='checkbox']{
                width: 20px;
                height: 20px;
                margin-right: 8px;
                border: 1px solid #C3CBD6;
                border-radius: 2px;
            }

            .circle{
                width: 20px;
                height: 20px;
                margin-right: 8px;
                border: 1px solid #C3CBD6;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .circle-inner{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
            }

            p {
                position: relative;
                top: 1px;
            }
        }

        .reset{
            width: 63px;
            margin-top: 12px;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            color: #0D6FE3;
            border-bottom: 1px dashed #0D6FE3;

            &:hover{
                cursor: pointer;
            }

            &:active{
                opacity: .8;
            }
        }
    }
    &.show {
        .filter-inner {
            display: flex;
        }
        .filter-title {
           .mat-icon {
                transform: rotate(180deg);
            } 
        }        
    }
}

