.performers-card {
    display: flex;
    width: 976px;
    height: 346px;
    margin: 24px 0;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.gallery{
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .big-image{
        width: 240px;
        height: 240px;
        display: flex;
        transition: all 0.3s ease-in-out;
        img{
            border-radius: 2px;
        }
    }

    .small-images{
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        img{
            width: 74px;
            height: 50px;
            border-radius: 2px;
            margin-right: 9px;
            &.active {
                border: 2px solid #0d6fe3;
            }
        }
    }

    .arrow-block{
        width: 80px;
        height: 81%;
        margin: -1px 0 0 -1px;
        position: absolute;
        top: 0;
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
        &:hover{
            cursor: pointer;
        }

        .arrow {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 104px;
            background-color: #0D6FE3;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .mat-icon {
                color: #fff;
            }
            &.arrow-left {
                left: 16px;
            }
            &.arrow-right {
                right: 16px;
            }
        }                    
    }
}

.logo {
    width: 56px;
    margin: 0 16px;

    img {
        border-radius: 50%;
        border: 1px solid #C3CBD6;
        position: relative;
        top: -2px;
        left: -2px;
    }
}

.logo-description-statistics-block{
    display: flex;
    


    .description{
        width: 320px;
        color: #334D6E;
        font-size: 14px;
        padding-top: 3px;
        img {
            height: fit-content;
            margin-right: 4px;
        }

        .description-header{
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            letter-spacing: 0.004em;
        }
        p.location{
            cursor: pointer;
            text-decoration: underline;
        }

        .description-elem{
            margin: 8px 0;
            display: flex;
            align-items: center;
        }

        .description-info{
            display: flex;
            color: #8594A8;
        }
    }

    .statistics{
        width: 256px;
        height: 298px;
        margin-left: 24px;
        padding: 24px;
        background-color: #F7F9FB;
        border-radius: 2px;

        hr {
            height: 1px;
            background-color: #C3CBD6;
            margin: 11px 0 12px 0;
            border: none;
        }

        .statistic{
            display: flex;
            justify-content: space-between;
            height: 20px;
            font-size: 14px;
            color: #334D6E;
            .value{
                margin-right: 1px;
                font-weight: 700;
            }

            .likes-and-dislikes{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 87px;
                margin-top: 4px;

                div{
                    display: flex;
                }
                .mat-icon {
                    font-size:17px;
                    margin-left: -2px;
                }
                .like .mat-icon {
                    color: #46AA32 
                }
                .dislikes .mat-icon{
                    color: #EA4545;
                }
            }
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            button{
                height: 48px;
                margin: 24px 0 8px 0;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .write-message{
                flex: 0 0 71%;
                background-color: #0D6FE3;
                color: #fff;
                .mat-icon {
                    margin-right: 11px;
                    color: #fff;
                }
            }

            .add-to-favorites{
                flex: 0 0 24%;
                background-color: #F7F9FB;
                border: 1px solid #C3CBD6;
                .button-added-to-favorites{
                    display: none;
                }
            }
        }
        .online{
            display: flex;
            justify-content: center;
            font-size: 12px;
            line-height: 18px;
            color: #8594A8;
        }
    }
}
.description-discount, .description-service-class{
    display: none;
}

@media screen and (max-width: 1275px) {    
    .performers-card {
        width: 720px;
        height: auto;
        margin: 24px auto;
        padding: 24px 24px 24px 25px;
        display: block;
    }
    .gallery{
        width: auto;
        height: 160px;
        margin: 3px 0 25px 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .big-image{
            width: 240px;
            height: 160px;

            img{
                width: 240px;
                height: 160px;
                margin-right: 16px;
            }
        }

        .small-images{
            display: none;

            img{
                width: 240px;
                height: 160px;
                margin-left: 16px;
            }
        }
            
        .arrow-block.left{
            .arrow-left{
                top: 64px;
                left: 24px;
            }
        }

        .arrow-block.right{
            width: 128px;
            height: 100%;
            margin: 0;

            .arrow-right{
                top: 64px;
                right: 24px;
            }
        }
    }

    .logo-description-statistics-block{

        .logo{
            margin: 0 16px 0 0;
        }
    }
}

@media screen and (max-width:767px) {    
    .performers-card {
        width: 100%;
        padding: 16px;
        position: relative;
        margin: 12px 0;
    }
    .gallery {
        display: none;
    }
    .logo-description-statistics-block {
        height: 100%;
        display: block;
        .logo {
            position: absolute;
            top: 18px;
            left: 18px;
            img {
                width: 32px;
                height: 32px;
            }
        }

        .description{
            width: auto;
            .description-elem{
                margin: 8px 0 0 0;
                display: none;
            }

            .description-header{
                width: 184px;
                position: relative;
                left: 44px;
                top: -3px;
            }

            .description-rating{
                width: 184px;
                margin: 5px 0 0 0;
                position: relative;
                left: 44px;
                top: -3px;
            }

            .description-discount{
                display: block;
                position: absolute;
                top: 69px;
                left: 156px;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                padding: 0 9px;
                background-color: #EA4545;
                border-radius: 20px;
            }

            .description-service-class{
                display: flex;
                margin-left: 44px;

                div{ 

                    p{
                        letter-spacing: 0.5px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        margin-right: 12px;
                        text-transform: uppercase;
                    }
                }
            }
            .description-location, .description-metro, .description-activity, .description-contract, .description-face, .description-info{
                display: none;
            }
        }

        .statistics{
            height: auto;
            margin: 0;
            padding: 0;
            background-color: #fff;

            hr{
                display: none;
            }

            .statistic{
                display: none;
            }

            .buttons{

                .write-message{
                    display: none;
                }

                .add-to-favorites{
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    flex: none;
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    border: none;
                    background-color: #fff;
                }
            }

            .online {
                display: none;
            }
        }
    }
}

.mobile {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 19px 21px;
    margin-bottom: 12px;
    .logo {
        margin-left: 0;
    }
    .description {
        width: 100%;
        .topline {
            display: flex;
            justify-content: space-between;
            .title {            
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0.004em;
            }
            button {
                background: #fff;
            }
        }
        .middleline {
            display: flex;
            align-items: center;
            .discount {
                height: 18px;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                margin-left: 13px;
                padding: 0 8px;
                background-color: #EA4545;
                border-radius: 20px;
            }
        }
        .bottomline {
            display: flex;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.5px;
            margin-top: 5px;
            div { 
                margin-right: 12px;
            }
        }
    }
}