.performers-card {
    height: 346px;
    margin: 24px 0;
    padding: 24px;
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

    .gallery{
        width: 240px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .big-image{
            width: 240px;
            height: 240px;

            img{
                border-radius: 2px;
            }
        }

        .small-images{
            display: flex;
            justify-content: space-between;

            img{
                width: 74px;
                height: 50px;
                border-radius: 2px;
            }
        }

        .arrow-left-block{
            width: 80px;
            height: 81%;
            margin: -1px 0 0px -1px;
            position: absolute;
            top: 0;
            left: 0;

            &:hover{
                cursor: pointer;
            }

            .arrow-left{
                width: 32px;
                height: 32px;
                position: absolute;
                top: 104px;
                left: 16px;
                background-color: #0D6FE3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .arrow-right-block{
            width: 80px;
            height: 81%;
            margin: -1px 1px 0px 0px;
            position: absolute;
            top: 0;
            right: 0;

            &:hover{
                cursor: pointer;
            }

            .arrow-right{
                width: 32px;
                height: 32px;
                position: absolute;
                top: 104px;
                right: 16px;
                background-color: #0D6FE3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .logo-description-statistics-block{
        display: flex;
        
        .logo{
            width: 56px;
            margin: 0 16px;

            img{
                border-radius: 50%;
                border: 1px solid #C3CBD6;
                position: relative;
                top: -2px;
                left: -2px;
            }
        }

        .description{
            width: 320px;
            color: #334D6E;
            font-size: 14px;
            padding-top: 3px;

            .description-header{
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0.004em;
            }

            .description-location{

                &:hover{
                    cursor: pointer;
                }

                p{
                    text-decoration: underline;
                }
            }

            .description-elem{
                margin: 8px 0;
                display: flex;
                align-items: center;

                svg{
                    margin: -1px 7px 2px 1px;
                }
            }

            .description-info{
                display: flex;
                color: #8594A8;

                svg{
                    margin: 3px 0px 0px 2px;
                }
            }
        }

        .statistics{
            width: 256px;
            height: 298px;
            margin-left: 24px;
            padding: 24px;
            background-color: #F7F9FB;
            border-radius: 2px;

            hr{
                height: 1px;
                background-color: #C3CBD6;
                margin: 11px 0;
            }

            .statistic{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: #334D6E;

                .value{
                    margin-right: 1px;
                    font-weight: 700;
                }

                .likes-and-dislikes{
                    display: flex;
                    align-items: center;

                    div{
                        margin-left: 12px;
                        display: flex;

                        svg{
                            margin-right: 4px;
                        }
                    }

                    .dislikes{
                        svg{
                            position: relative;
                            top: 4px;
                        }
                    }
                }
            }

            .buttons{
                display: flex;
                justify-content: space-between;

                button{
                    height: 48px;
                    margin: 24px 0 8px 0;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.01em;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .write-message{
                    flex: 0 0 71%;
                    background-color: #0D6FE3;
                    color: #fff;

                    svg{
                        margin-right: 11px;
                    }
                }

                .add-to-favorites{
                    flex: 0 0 24%;
                    background-color: #F7F9FB;
                    border: 1px solid #C3CBD6;

                    .button-added-to-favorites{
                        display: none;
                    }
                }
            }

            .online{
                display: flex;
                justify-content: center;
                font-size: 12px;
                line-height: 18px;
                color: #8594A8;
            }
        }
    }

    .description-discount, .description-service-class{
        display: none;
    }

    .module-window-map-location{
        max-width: 776px;
        padding: 24px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        border-radius: 5px;
        z-index: 1200;

        p{
            margin-bottom: 16px;
            font-weight: 600;
            color: #334D6E;
        }
    }
}

.module-window-map-location-map{
    width: 728px;
    height: 360px;
    background-image: url(../../../../../assets/images/map-bg.performersPage.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(-40px);
    background-position-y: calc(-36px);
}
svg {
    position: absolute;
    top: 19px;
    right: 19px;
    &:hover {
        cursor: pointer;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 997;
    background-color: #1B2F54;
    opacity: 0.6;
    display: none;
}