.container{
    position: relative;
    width: 776px;
    margin: 64px auto 80px auto;

    .arrow{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        font-size: 40px;
        color: #90A0B7;
        transition: all .2s;
    }

    .header{
        position: relative;
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
        z-index: 6;
        cursor: pointer;
    }

    .sort-by{
        display: flex;
        align-items: center;

        label{
            display: flex;
            align-items: center;
            margin-right: 24px;
            cursor: pointer;

            input{
                display: none;
            }

            p{
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }

            span{
                margin-left: 4px;
                padding: 0 12px;
                border-radius: 60px;
                font-weight: bold;
                font-size: 12px;
                line-height: 24px;

                &.amount-all{
                    color: #334D6E;
                    background-color: rgba(51, 77, 110, 0.1);
                }

                &.amount-economy{
                    color: #F8601F;
                    border: 2px solid #F8601F;
                }

                &.amount-standard{
                    color: #0D6FE3;
                    border: 2px solid #0D6FE3;
                }

                &.amount-premium{
                    color: #9F8C66;
                    border: 2px solid #9F8C66;
                }
            }

            input:checked + p{
                font-weight: 600;
                border-bottom: 1px dashed #334D6E;
            }
        }
    }

    .sort-by-mobile{
        display: none;
    }

    .services{
        width: 100%;
        margin-top: 13px;

        .service{
            width: 100%;
            min-height: 60px;
            padding-top: 14px;        
            border-top: 1px solid #C3CBD6;

            &:first-child{
                border: none;
            }

            .service-header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title-and-segments{
                    display: flex;

                    .title{
                        margin-right: 4px;
                        font-size: 20px;
                        line-height: 28px;
                        color: #334D6E;
                    }

                    .segments{
                        display: flex;
                        align-items: center;

                        p{
                            margin-left: 4px;
                            padding: 0 12px;
                            border-radius: 60px;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 24px;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                        }
                    }
                }

                .price-and-toggle{
                    display: flex;
                    align-items: center;

                    .price{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 28px;
                        color: #334D6E;
                    }

                    .toggle{
                        display: flex;
                        align-items: center;
                        width: 24px;
                        height: 18px;
                        margin-left: 28px;
                        cursor: pointer;
                    }
                }
            }

            .service-header-mobile{
                display: none;
            }

            .subServices{
                width: 100%;
                padding: 12px 52px 0 24px;

                .subService{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 16px;

                    .subService-header-and-subService-segment{
                        display: flex;
                        align-items: center;

                        .subService-header{
                            font-size: 16px;
                            line-height: 24px;
                            color: #334D6E;
                        }

                        .subService-segment{
                            margin-left: 8px;
                            padding: 0 12px;
                            border-radius: 60px;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 24px;
                            letter-spacing: 0.5px;
                        }
                    }

                    .subService-price{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #334D6E;
                    }
                }
            }

            .subServices-mobile{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: -webkit-fill-available;
        margin: 23px 0;
        padding: 0 1rem;

        .arrow{
            width: 28px;
            height: 28px;
            right: 16px;
            font-size: 28px;
        }

        .header{
            font-size: 24px;
            line-height: 28px;
        }

        .sort-by{
            display: none;
        }

        .sort-by-mobile{
            display: block;
            width: -webkit-fill-available;
            height: 52px;
            margin-top: 12px;
            border: 1px solid #C3CBD6;
            border-radius: 4px;

            legend{
                margin-left: 8px;
                padding: 0 4px;
                font-size: 12px;
                line-height: 18px;
                color: #8594A8;
            }

            select{
                width: 100%;
                height: 26px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;
                border: none;
                padding: 0 12px;
                background-color: #F7F9FB;
                background-image: url(../../../../../assets/images/select-arrow.performersPage.png);
                background-repeat: no-repeat;
                background-position: right;
                background-position-x: calc(100% - 18px);

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:focus{
                    outline: none;
                }
            }
        }

        .services{
            margin: 0;

            .service{
                min-height: auto;
                padding: 14px 0 18px 0;

                .service-header{
                    display: none;
                }

                .service-header-mobile{
                    display: flex;
                    justify-content: space-between;

                    .title-segments-price-mobile{
                        flex: 0 0 93%;

                        .title-mobile{
                            display: inline-block;
                            margin-right: 8px;
                            font-size: 16px;
                            line-height: 24px;
                            color: #334D6E;
                        }

                        .segment-mobile{
                            display: inline-block;
                            width: max-content;
                            padding: 3px 8px;
                            margin-right: 4px;
                            text-transform: uppercase;
                            border-radius: 60px;
                            font-weight: bold;
                            font-size: 8px;
                            line-height: 12px;
                            letter-spacing: 0.5px;
                        }

                        .price-mobile{
                            display: inline-block;
                            margin-left: 4px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #334D6E;
                        }
                    }

                    .toggle-mobile{
                        margin: 5px 5px 0 0;
                    }
                }

                .subServices{
                    display: none;
                }

                .subServices-mobile{
                    display: block;
                    margin: 12px 0 0 24px;

                    .subService-mobile{
                        margin-top: 8px;

                        .subService-header-mobile{
                            display: inline-block;
                            margin-right: 8px;
                            font-size: 14px;
                            line-height: 20px;
                            color: #334D6E;
                        }

                        .subService-segment-mobile{
                            display: inline-block;
                            font-weight: bold;
                            padding: 3px 8px;
                            text-transform: uppercase;
                            border-radius: 60px;
                            font-size: 8px;
                            line-height: 12px;
                            letter-spacing: 0.5px;
                        }

                        .subService-price-mobile{
                            display: inline-block;
                            margin-left: 8px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #334D6E;
                        }
                    }
                }
            }
        }
    }
}