<div class="container">

    <div class="navigation">
        <div class="navigation-top">
            <div class="navigation-top-columns column-customers">
                <p class="navigation-top-column-title">Заказчику/покупателю</p>

                <div class="navigation-top-column-container">
                    <div class="navigation-top-column">
                        <p class="navigation-top-column-list">Зарегистрироваться</p>
                        <p class="navigation-top-column-list">Создать заявку</p>
                        <p class="navigation-top-column-list">Подобрать исполнителя</p>
                        <p class="navigation-top-column-list">Найти консультанта</p>
                        <p class="navigation-top-column-list">Документация по заказу</p>
                    </div>
    
                    <div class="navigation-top-column">
                        <p class="navigation-top-column-list">Сравнить стоимость</p>
                        <p class="navigation-top-column-list">Создать документы</p>
                        <p class="navigation-top-column-list">Каталог товаров/услуг</p>
                        <p class="navigation-top-column-list">Изменить тариф</p>
                        <p class="navigation-top-column-list">Продвижение заявки</p>
                    </div>
                </div>
            </div>

            <div class="navigation-top-columns column-performers">
                <p class="navigation-top-column-title">Исполнителю/поставщику</p>

                <div class="navigation-top-column-container">
                    <div class="navigation-top-column">
                        <p class="navigation-top-column-list">Зарегистрировать профиль</p>
                        <p class="navigation-top-column-list">Создать услугу</p>
                        <p class="navigation-top-column-list">Создать товар</p>
                        <p class="navigation-top-column-list">Подобрать исполнителя</p>
                        <p class="navigation-top-column-list">Найти сотрудника</p>
                    </div>
    
                    <div class="navigation-top-column">
                        <p class="navigation-top-column-list">Подобрать заявку</p>
                        <p class="navigation-top-column-list">Услуги для бизнеса</p>
                        <p class="navigation-top-column-list">Создать документы</p>
                        <p class="navigation-top-column-list">Изменить тариф</p>
                        <p class="navigation-top-column-list">Продвижение профиля</p>
                    </div>
                </div>
            </div>

            <div class="navigation-top-columns column-services">
                <p class="navigation-top-column-title">Услуги</p>

                <div class="navigation-top-column-container">
                    <div class="navigation-top-column">
                        <p class="navigation-top-column-list">Проектирование</p>
                        <p class="navigation-top-column-list">Строительство</p>
                        <p class="navigation-top-column-list">Ремонт и отделка</p>
                        <p class="navigation-top-column-list">Инженерные сети</p>
                        <p class="navigation-top-column-list">Загородное строительство</p>
                    </div>
    
                    <div class="navigation-top-column column-services-relative">
                        <p class="navigation-top-column-list">Банковские гарантии</p>
                        <p class="navigation-top-column-list">Юридические услуги</p>
                        <p class="navigation-top-column-list">Бухгалтерские услуги</p>
                        <p class="navigation-top-column-list">Строительная техника</p>
                        <p class="navigation-top-column-list">Строительные материалы</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-bottom">
            <div class="navigation-bottom-columns column-about-service">
                <p class="navigation-bottom-column-title">О сервисе</p>

                <div class="navigation-bottom-column-container">
                    <div class="navigation-bottom-column">
                        <p class="navigation-bottom-column-list">О нас</p>
                        <p class="navigation-bottom-column-list">Как пользоваться</p>
                        <p class="navigation-bottom-column-list">Новости</p>
                        <p class="navigation-bottom-column-list">События</p>
                        <p class="navigation-bottom-column-list">Реклама на сайте</p>
                    </div>
    
                    <div class="navigation-bottom-column">
                        <p class="navigation-bottom-column-list">API</p>
                        <p class="navigation-bottom-column-list">Отзывы</p>
                        <p class="navigation-bottom-column-list">Тарифы и цены</p>
                        <p class="navigation-bottom-column-list">Служба поддержки</p>
                        <p class="navigation-bottom-column-list">Контакты</p>
                    </div>
                </div>
            </div>

            <div class="navigation-bottom-columns column-knowledge-base">
                <p class="navigation-bottom-column-title">База знаний</p>

                <div class="navigation-bottom-column-container">
                    <div class="navigation-bottom-column">
                        <p class="navigation-bottom-column-list">Регламенты</p>
                        <p class="navigation-bottom-column-list">Документы</p>
                        <p class="navigation-bottom-column-list">Готовые договоры</p>
                        <p class="navigation-bottom-column-list">Калькулятор стоимости</p>
                        <p class="navigation-bottom-column-list">Статьи</p>
                    </div>
    
                    <div class="navigation-bottom-column">
                        <p class="navigation-bottom-column-list">Вопрос-ответ</p>
                        <p class="navigation-bottom-column-list">Советы специалистов</p>
                        <p class="navigation-bottom-column-list">Форум</p>
                        <p class="navigation-bottom-column-list">Полезные ссылки</p>
                        <p class="navigation-bottom-column-list">Калькулятор потребности</p>
                    </div>
                </div>
            </div>

            <div class="navigation-bottom-column-subscribe">
                <p class="navigation-bottom-column-subscribe-title">Будь в курсе наших новостей</p>

                <div class="email-and-subscribe">
                    <input type="email" placeholder="Ваш e-mail">
                    <button>Подписаться</button>
                </div>

                <label class="agreement-personal-data">
                    <input type="checkbox">
                    <p>Согласен на обработку <span>персональных данных</span></p>
                </label>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="all-rights-reserved">© 2020 ООО «СтройкаГид». <br> Все права защищены.</p>

        <div class="web-links">
            <img src="../../../assets/images/link-vk.png">
            <img src="../../../assets/images/link-facebook.png">
            <img src="../../../assets/images/link-telegram.png">
            <img src="../../../assets/images/link-twitter.png">
            <img src="../../../assets/images/link-youtube.png">
        </div>

        <button>Блог</button>

        <p class="privacy-policy">Политика конфиденциальности</p>
    </div>

</div>