<div class="container" *ngIf='srv$ | async as srv'>
    <div class="service">
        <app-breadcrumbs [breadcrumbs]='breadcrumbs'></app-breadcrumbs>
        <h1 class="service-header">{{srv.title}}</h1>    
        <p class="service-description">{{srv.text}}</p>
    </div>

    <div class="service-found-in-segments">
        <p class="segments-title">Найдено 2356 исполнителей в 3 ценовых сегментах</p>
        
        <div class="segment-cards">
            <div class="card low">
                <div>
                    <div class="price-from-and-found-performers">
                        <p class="price-from">от {{srv.cost.low}} ₽</p>
                        <p class="found-performers">Найдено 104 исполнителей</p>
                    </div>
                    <p class="type-of-sergemt">Эконом</p>
                </div>
                <button>Подобрать исполнителя</button>
            </div>
            
            <div class="card standart">
                <div>
                    <div class="price-from-and-found-performers">
                        <p class="price-from">от {{srv.cost.standart}} ₽</p>
                        <p class="found-performers">Найдено 104 исполнителей</p>
                    </div>
                    <p class="type-of-sergemt">Стандарт</p>
                </div>
                <button>Подобрать исполнителя</button>
            </div>
            
            <div class="card premium">
                <div>
                    <div class="price-from-and-found-performers">
                        <p class="price-from">от {{srv.cost.premium}} ₽</p>
                        <p class="found-performers">Найдено 104 исполнителей</p>
                    </div>
                    <p class="type-of-sergemt">Премиум</p>
                </div>
                <button>Подобрать исполнителя</button>
            </div>
        </div>
    </div>

    <div class="consultant-assistance">
        <img src="../../../../../assets/images/bg-consultant-assistance.png">

        <div class="content">
            <p class="can-not-select-performer">Не можете выбрать исполнителя?</p>
            <p class="use-consultant-assistance">Воспользуйтесь услугами консультанта</p>
        </div>

        <button>Помощь консультанта</button>
    </div>

    <div class="gallery">
        <p class="gallery-header">Последние работы по услуге</p>

        <div class="last-works-container">
            <div *ngFor="let lastWork of galleryLastWorks" class="last-works">
    
                <img [src]="lastWork.logo">

                <div class="title-and-rating">
                    <p class="title">{{ lastWork.title }}</p>
                    
                    <div class="rating">
                        <p>{{ lastWork.rating }}</p>

                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="#FFB438"/>
                        </svg>

                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="#FFB438"/>
                        </svg>

                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="#FFB438"/>
                        </svg>

                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="#FFB438"/>
                        </svg>

                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="#FFB438"/>
                        </svg>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="gallery-arrow">
            <!-- <mat-icon>arrow_forward</mat-icon> -->
        </div>
    </div>

    <div class="button-gallery-by-services">
        <button>Галерея работ по услуге</button>
    </div>

    <div class="additional-info-title">Дополнительная информация</div>

</div>