<div class="header" [ngStyle]="{
    height: toggleBurger === false ? '91px' : '443px'
}">

    <div class="city-and-phone">
        <p>Ваш город: <span>Москва</span></p>
        <p>+7 (495) 000-00-00</p>
    </div>


    <div class="navbar-block" [ngStyle]="{
        height: toggleBurger === false ? '61px' : '93%'
    }">
        <div class="navbar">
            <div class="navbar-logo">
                <img src="../../../assets/images/navbar-logo.png">
            </div>

            <div class="nav-columns">
                <div class="nav-column">
                    <img src="../../../assets/images/burger-lines.png">
                    <p>Товары</p>
                </div>
                
                <div class="nav-column">
                    <img src="../../../assets/images/burger-lines.png">
                    <p>Услуги</p>
                </div>
            </div>

            <div class="menu">
                <p class="menu-list" routerLink="/">Главная</p>
                <p class="menu-list">Заявки</p>
                <p class="menu-list" routerLink="/performersPage">Исполнители</p>
                <p class="menu-list">Галерея работ</p>
                <p class="menu-list">Калькуляторы</p>
                <p class="menu-list">Документы</p>
                <p class="menu-list">База знаний</p>
            </div>

            <div class="sign-in">
                <img src="../../../assets/images/profile.png">

                <p class="sing-in-text">Профиль</p>

                <button class="btn-are-you-performer" routerLink="/formRegistrationPage">Вы исполнитель?</button>
            </div>
            
            <div class="toggle-burger" (click)="toggleNavbarBurger()">
                <div class="toggle-burger-lines"></div>
            </div>
        </div>

        <div class="burger-menu" [ngStyle]="{
            transform: toggleBurger === true ? 'none' : 'translateY(-100%)'
        }">
            <p class="burger-menu-list">Главная</p>
            <p class="burger-menu-list">Заявки</p>
            <p class="burger-menu-list">Исполнители</p>
            <p class="burger-menu-list">Калькуляторы</p>
            <p class="burger-menu-list">Документы</p>
            <p class="burger-menu-list">фото</p>
            <p class="burger-menu-list">База знаний</p>
        </div>
    </div>

</div>