<ng-container *ngIf='allServices'>
    <div class="container" [ngClass]="isMy ? 'admin' : ''" *ngIf='allServices.length'>

        <div class='header' (click)="openCloseComponent = !openCloseComponent">
            
            <mat-icon *ngIf='isMy; else toggle' class="edit" [routerLink]="linkTo">edit</mat-icon>
            <ng-template #toggle>
                <mat-icon [ngStyle]="{transform: openCloseComponent ? 'rotate(180deg)' : 'none'}" class="arrow">keyboard_arrow_down</mat-icon>
            </ng-template>

            <p>Услуги 
                <span *ngIf='!isMy'>({{allServices.length}})</span>
            </p>
        </div>
        

        <ng-container *ngIf="openCloseComponent || isMy">
            <div class="sort-by">
                <label>
                    <input value='все' (change)="changeSegment('all')" type="radio" name="sortByServices" checked>
                    <p>Все</p>
                    <span class="all">{{allServices.length}}</span>
                </label>
    
                <label>
                    <input value='эконом' (change)="changeSegment('low')" type="radio" name="sortByServices">
                    <p>эконом</p>
                    <span class="economy">{{getServiceBySegment(allServices, 'low').length}}</span>
                </label>
    
                <label>
                    <input value='стандарт' (change)="changeSegment('standart')" type="radio" name="sortByServices">
                    <p>стандарт</p>
                    <span class="standard">{{getServiceBySegment(allServices, 'standart').length}}</span>
                </label>
    
                <label>
                    <input value='премиум' (change)="changeSegment('premium')" type="radio" name="sortByServices">
                    <p>премиум</p>
                    <span class="premium">{{getServiceBySegment(allServices, 'premium').length}}</span>
                </label>
            </div>
    
            <fieldset class="sort-by-mobile">
                <legend>Уровень цен</legend>
    
                <select [(ngModel)]='segment' (change)='changeSegment(segment)'>
                    <option value="all">Все</option>
                    <option value="low">Эконом</option>
                    <option value="standart">Стандарт</option>
                    <option value="premium">Премиум</option>
                </select>
            </fieldset>
    
            <div class="list">
                <ng-container *ngFor="let service of servicesBySegment">
                    <app-service [service]='service' [currentSegment]='segment'></app-service>
                </ng-container>
            </div>
            <button *ngIf='isMy' [routerLink]="linkTo" class="show-all">Показать все услуги</button>
        </ng-container>        
    </div>
</ng-container>