.container{
    width: 676px;
    padding: 29px 31px 31px 31px;
    margin-top: 24px;
    background-color: #FFFFFF;
    border: 1px solid #E3E9F2;
    border-radius: 4px;

    .header{
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #334D6E;

        span{
            color: #90A0B7;
        }
    }

    .order{
        width: 100%;
        padding: 21px 23px 22px 23px;
        margin-bottom: 20px;
        border: 1px solid #C3CBD6;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 8px 0 0 rgb(133, 148, 168, 1);

        .title-and-price{
            display: flex;
            justify-content: space-between;

            .title{
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #334D6E;

                span{
                    display: none;
                }
            }

            .price{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #8594A8;
            }
        }

        .description{
            margin: 9px 0 10px 0;
            font-size: 14px;
            line-height: 20px;
            color: #8594A8;
        }

        .info{

            .info-elem{
                margin-top: 4px;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;

                .param{
                    font-weight: 500;

                    &.last-param{
                        margin-right: 4px;
                    }
                }

                .segment{
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    margin-right: 4px;
                    padding: 0 12px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    border-radius: 60px;
                    text-transform: uppercase;
                }
            }
        }

        .statistics-mobile{
            display: none;
        }

        hr{
            width: 100%;
            height: 1px;
            margin: 14px 0;
            border: none;
            background-color: #C3CBD6;
        }

        .date-and-statistics{
            display: flex;
            justify-content: space-between;

            .date{
                font-size: 14px;
                line-height: 20px;
                color: #8594A8;
            }

            .statistics{
                display: flex;
                margin: -2px 1px 0 0;

                .statistic{
                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #8594A8;

                    mat-icon{
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .button-all-accepted-orders{
        width: 100%;
        height: 48px;
        margin-top: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #334D6E;
        background-color: #FFFFFF;
        border: 1px solid #C3CBD6;
        border-radius: 3px;
    }
}

@media screen and (max-width: 1275px) {
    .container{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        padding: 13px 15px 15px 15px;

        .header{
            margin-bottom: 14px;
        }

        .order{
            padding: 13px 15px 13px 15px;;

            .title-and-price{

                .title{
                    font-size: 16px;
                    line-height: 24px;

                    span{
                        display: inline-block;
                        min-width: max-content;
                        color: #8594A8;
                    }
                }

                .price{
                    display: none;
                }
            }

            .statistics-mobile{
                display: block;
                display: flex;
                margin-top: 15px;

                .statistic{
                    display: flex;
                    align-items: center;
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;
                    color: #8594A8;

                    &:first-child{
                        margin: 0;
                    }

                    mat-icon{
                        margin-right: 4px;
                    }
                }
            }

            hr{
                margin: 6px 0 15px 0;
            }

            .date-and-statistics{

                .statistics{
                    display: none;
                }
            }
        }

        .button-all-accepted-orders{
            margin-top: 0;
        }
    }
}