.container{
    width: 676px;
    padding: 29px 31px 31px 31px;
    margin-top: 24px;
    background-color: #FFFFFF;
    border: 1px solid #E3E9F2;
    border-radius: 4px;

    .header{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #334D6E;

        span{
            color: #90A0B7;
        }
    }

    .applications{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .application{
            flex: 0 0 298px;
            height: min-content;
            padding: 13px 15px 16px 15px;
            margin-top: 16px;
            border: 1px solid #C3CBD6;
            border-radius: 4px;
            background-color: #FFFFFF;

            .images{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;

                img{
                    width: 100px;
                    height: 76px;
                    border-radius: 2px;
                }
            }

            .title-and-price{
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;

                p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;

                    &.title{
                        max-width: 248px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
    
                    &.price{
                        min-width: max-content;
                        margin-right: 4px;
                        color: #8594A8;
                    }
                }
            }

            .date{
                font-size: 14px;
                line-height: 20px;
                color: #8594A8;

                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
            }

            hr{
                width: 100%;
                height: 1px;
                margin: 12px 0;
                border: none;
                background-color: #C3CBD6;
            }

            .rating-and-segment{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .rating{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    line-height: 20px;
                    color: #8594A8;

                    app-rating-stars{
                        display: flex;
                        align-items: center;
                        height: 0px;
                        margin-top: 10px;
                    }
                }

                .segment{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }
            }
        }
    }

    .button-all-accepted-orders{
        width: 100%;
        height: 48px;
        margin-top: 24px;
        background-color: #FFFFFF;
        border: 1px solid #C3CBD6;
        border-radius: 3px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #334D6E;
    }
}