<div class="container">

    <label>
        <input type="radio" name="section" checked>
        <div class="section">
            <mat-icon>person</mat-icon>
            <p class="section-title">Профиль</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>info</mat-icon>
            <p class="section-title">Основная информация</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>work</mat-icon>
            <p class="section-title">Галерея работ</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>construction</mat-icon>
            <p class="section-title">Услуги</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>rate_review</mat-icon>
            <p class="section-title">Отзывы</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>assignment_returned</mat-icon>
            <p class="section-title">Заявки</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>insert_drive_file</mat-icon>
            <p class="section-title">Документы</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>menu_book</mat-icon>
            <p class="section-title">Справочники</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>shopping_basket</mat-icon>
            <p class="section-title">Покупки</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>email</mat-icon>
            <p class="section-title">Сообщения</p>
            <p class="count">12</p>
        </div>
    </label>

    <hr>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>bookmark</mat-icon>
            <p class="section-title">Избранное</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>data_saver_off</mat-icon>
            <p class="section-title">Статистика</p>
        </div>
    </label>

    <label>
        <input type="radio" name="section">
        <div class="section">
            <mat-icon>article</mat-icon>
            <p class="section-title">Блог</p>
        </div>
    </label>

</div>