<ng-container *ngIf="!isSavedNewPassword; else passwordUpdated">
    <div class="new-password-container">

        <p class="title">Новый пароль</p>

        <p class="description">Придумайте новый пароль для авторизации на сайте.</p>

        <fieldset>
            <legend>Пароль</legend>
            <input type="password" placeholder="Придумайте пароль">
            <mat-icon>visibility</mat-icon>
        </fieldset>

        <button class="save-new-password" (click)="isSavedNewPassword = true">Сохранить новый пароль</button>

    </div>
</ng-container>

<ng-template #passwordUpdated>
    <div class="password-updated-container">

        <!-- Перенести svg -->
        <svg width="164" height="164" viewBox="0 0 164 164" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="82" cy="82" r="82" fill="#46AA32"/>
            <circle cx="82" cy="82" r="60" fill="white" fill-opacity="0.3"/>
            <path d="M72 110.067L51.3 89.3666L60.7334 79.9333L72 91.2333L104.933 58.2666L114.367 67.6999L72 110.067Z" fill="white"/>
        </svg>
        <!-- Перенести svg -->

        <p class="title">Пароль успешно обновлен</p>

        <p class="description">Перейдите на страницу авторизации и войдите в аккаунт с новым паролем.</p>

        <button class="back-to-login" routerLink="/pages/authorization/login">Перейти к авторизации</button>

    </div>
</ng-template>