<div class="container">

    <mat-icon [ngStyle]="{transform: openCloseComponent ? 'rotate(180deg)' : 'none'}" class="arrow">keyboard_arrow_down</mat-icon>

    <p class="header" (click)="openCloseComponent = !openCloseComponent">Размещенные заявки исполнителя</p>

    <div class="open-close-component" *ngIf="openCloseComponent">
        <div class="sort-by">
            <label>
                <input value='default' (change)='setFilter($event)' type="radio" name="sortBy" checked>
                <p>Все</p>
                <span class="amount-all">{{ordersAll.length}}</span>
            </label>
    
            <label>
                <input value='active' (change)='setFilter($event)' type="radio" name="sortBy">
                <p>активные</p>
                <span class="amount-active">{{ordersActive.length}}</span>
            </label>
    
            <label>
                <input value='complete' (change)='setFilter($event)' type="radio" name="sortBy">
                <p>завершенные</p>
                <span class="amount-complete">{{ordersComplete.length}}</span>
            </label>
        </div>
    
        <fieldset class="sort-by-mobile">
            <legend>Сортировка</legend>
    
            <select>
                <option value="">Все заявки</option>
                <option value="">Активные</option>
                <option value="">Завершенные</option>
            </select>
        </fieldset>
    
        <div *ngFor="let application of orders" class="application">
            <div class="title-and-price">
                <p class="application-title">{{ application.title }}</p>
                <p class="application-price">{{ application.getPrice() }}</p>
            </div>
    
            <p class="application-description">{{ application.description }}</p>
    
            <hr>
    
            <div class="date-and-views-and-reviews">
                <p class="application-date">{{ application.createdAt | date : 'dd MMMM yyyy' }}</p>
    
                <div class="views-and-reviews">
                    <div class="views">
                        <mat-icon>visibility</mat-icon>
                        <p>{{ application.views }}</p>
                    </div>
    
                    <div class="reviews">
                        <mat-icon>chat_bubble</mat-icon>
                        <p>{{ application.reviews }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <button class="button-show-more" *ngIf='orders.length >= 20'>Показать еще 10 заявок Исполнителя</button>
    </div>

</div>