:host{
    background-color: #F7F9FB;
}
.container-header-filters-and-sorting{
    width: 100%;
    height: 48px;
    display: none;
    .fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1001;
    }
}

.container{
    margin: auto;
    display: flex;
    background-color: #F7F9FB;

    .mat-icon {
        color: rgb(133, 148, 168);
        transition: all 200ms linear;
        transform: rotate(0);
        &.close {
            font-size: 16px;
            line-height: 17px;    
            height: 16px;
            width: 16px;
            font-weight: 600;   
        }    
    }

    .filters{
        max-width: 300px;
        min-width: 300px;
        border-right: 1px solid #C3CBD6;
        background-color: #fff;
        transition: all .2s;

        .filter-header{
            padding: 15px 32px 16px 32px;
            border-bottom: 1px solid #C3CBD6;
            &:hover{
                cursor: auto;
            }
            p {
                color: #8594A8;
                font-weight: 700;
                line-height: 24px;
            }

            .filter-header-close-filter{
                display: none;
                width: 88px;
                height: 100%;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .filters-buttons{
            height: 72px;
            padding: 12px 16px;
            display: flex;
            button {
                flex-grow: 1;
                height: 48px;
                border: 1px solid #C3CBD6;
                border-radius: 3px;
                background-color: #fff;
                margin: 0 6px 0 0;
                &.apply {
                    background-color: #0D6FE3;
                    color: #fff;
                    margin: 0 0 0 6px;
                }
            }            
        }
    }

    .performers {
        position: relative;
        padding: 34px 2% 24px;
        margin: 0 auto;
        max-width: 1140px;
        width: 96%;
        transition: all 0.2s ease-in-out;

        &.loading {
            opacity: 0.1;
        }

        .count{
            margin: 14px 0 9px 0;
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            color: #334D6E;
        }

        .tags-search{
            margin: 9px 0px 17px 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-weight: 600;
        }

        .wrap {
            width: 100%;
            height: -webkit-fill-available;
            margin: 24px 0 40px 0;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
            position: relative;    
            overflow: hidden;

            .map-title {
                display: none;
                border-radius: 4px;
        
                p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #334D6E;
                }
        
                mat-icon{
                    color: #90A0B7;
                    transition: all .2s;
                }
            }
        }

        .sort-by{
            display: flex;
            line-height: 24px;
            .sort-by-p{
                color: #8594A8;
            }

            label{
                margin-left: 25px;
                color: #334D6E;
                cursor: pointer;
                input{
                    display: none;
                }

                input:checked + p{
                    font-weight: 600;
                    border-bottom: 1px dashed #334D6E;
                }
            }
        }

        .performers-not-found{
            margin: 206px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                color: #8594A8;                
                &.performers-not-found{
                    margin: 38px 0 4px 0;
                    font-weight: bold;
                    line-height: 24px;
                }
                &.try-adjust-filter{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            svg-icon-sprite {
                color: #8594A8;
            }
        }
    }

    .module-window-map-location{
        max-width: 776px;
        padding: 24px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        border-radius: 5px;
        z-index: 1200;
        p {
            margin-bottom: 16px;
            font-weight: 600;
            color: #334D6E;
        }

        .module-window-map-location-map{
            width: 728px;
            height: 360px;
            background-image: url(../../../assets/images/map-bg.performersPage.jpg);
            background-repeat: no-repeat;
            background-position-x: calc(-40px);
            background-position-y: calc(-36px);
        }

        svg {
            position: absolute;
            top: 19px;
            right: 19px;
            cursor: pointer;
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #1B2F54;
        opacity: 0.6;
        display: none;
    }
}

@media screen and (max-width:1350px) {

    .container {
        .filters{
            min-width: 250px;
            width: 100%;

            .filter{
                max-width: 300px;
                padding: 16px 32px;
                .field-click{
                    z-index: 999;
                }
                .filter-title {
                    p {
                        margin-right: 10px;
                    }
                }
            }

            .filter-header{
                padding: 15px 16px 16px 16px;
            }
        }
        .performers{
            padding: 34px 16px 24px 16px;
        }
    }
}

@media screen and (max-width:1275px) {
    .container-header-filters-and-sorting{
        display: block;
    }

    .container {
        .filters{
            max-width: 300px;
            width: 300px;
            position: fixed;
            top: 0;
            left: -300px;
            overflow-y: auto;
            height: 100vh;
            background-color: #fff;
            z-index: 10000;
            &.show {
                left: 0;
            }

            &::-webkit-scrollbar{
                width: 0;
                height: 0;
            }

            .filter-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: relative;
    
                .filter-header-close-filter{
                    display: flex;
                    width: 58px;
                }
            }
        }

        .performers{
            max-width: 1275px;
            padding: 34px 1rem 24px;
            .selected-categories{
                display: none;
            }
            .tags-search{
                display: flex;
            }
            .sort-by{
                display: none;
            }
        }

        .module-window-map-location{
            max-width: 738px;
            top: 40%;
            .module-window-map-location-map{
                width: 690px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .container {

        .filters{
            width: 100vw;
            max-width: 100%;
            left: -100%;

            &.show {
                left: 0;
            }

            .filter {
                max-width: 100vw;

                .field-click{
                    width: 100%;
                }
            }            
        }

        .performers{
            max-width: 767px;
            padding: 32px 10px 24px;

            .count{
                margin: 15px 0 -8px 0;
                font-size: 24px;
                line-height: 28px;
            }

            .tags-search {
                display: none;
            }

            .wrap {
                margin: 24px 0;

                .map-title{
                    width: 100%;
                    height: 48px;
                    padding: 0 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #fff;
                }

                app-map{
                    display: none;

                    &.show {
                        display: block;
                    }
                }
            }
        }
    }

    .lds-dual-ring {
        height: 50%;
    }
}

.lds-dual-ring {
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 9999;
    align-items: center;
    height: 70%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #0d6fe3 transparent  #0d6fe3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }