<div class="container-header-filters-and-sorting">
    <app-header-filters [toggle]="this.toggle"
                        [count]='this.tags.length'
                        [orderBy]='orderBy'
                        (invertToggle)='invertToggle($event)'
                        (switchSorting)='switchOrderBy($event)'
                        [ngClass]="shrinkHeader ? 'fixed' : ''"></app-header-filters>
</div>
<div class="container container-performers-page">
    <div class="filters" [ngClass]="toggle ? 'show' : ''">
        <div class="filter filter-header" (click)="closeFilters()">
            <p>Фильтр</p>
            <div class="filter-header-close-filter">
                <mat-icon class='close'>close</mat-icon>
            </div>
        </div>

        <ng-container *ngIf='locationFilters && locationFilters.length'>
            <app-filter-location [locationFilters]='locationFilters'
                                 (sendFilter)="updateFilterCheckedValue($event)"></app-filter-location>
        </ng-container>

        <ng-container *ngIf='categories.length'>
            <app-filter-categories 
                [checked]='categoryFilter.checked'
                (setChecked)='setCategoriesFilter($event)'
                ></app-filter-categories>
        </ng-container>        

        <ng-container *ngFor='let filter of filters'>
            <app-filter [filter]='filter' 
                        (sendFilter)='updateFilterCheckedValue($event)'></app-filter>
        </ng-container>

        <div class="filters-buttons">
            <button class="reset" (click)='resetFilters()'>Сбросить</button>
            <button class="apply" (click)='applyFilters()'>Применить</button>
        </div>
    </div>

    <div class="lds-dual-ring" *ngIf="isLoading"></div>
    <div #target class="performers" [ngClass]="isLoading ? 'loading' : ''">
        <app-breadcrumbs [breadcrumbs]='getBreadcrumbs()'></app-breadcrumbs>

        <p class="count">Найдено {{performersCards.length}} исполнителей</p>
        <app-tags [tags]='tags' 
                  (changeTags)='removeTag($event)'
                  class="tags-search"></app-tags>
          
        <ng-container *ngIf='performersCards.length; else noCards'>
            <div class="wrap">
                <div class="map-title" (click)="toggleMap = !toggleMap">
                    <p>Исполнители на карте</p>
                    <mat-icon [ngStyle]="{transform: toggleMap ? 'rotate(180deg)' : 'none'}">keyboard_arrow_down</mat-icon>
                </div>
                <app-map [ngClass]="toggleMap ? 'show' : ''" [markers]='markers'></app-map>
            </div>
                
            <div class="sort-by">
                <p class="sort-by-p">Сортировать по:</p>
                <label>
                    <input (change)="switchOrderBy('abc')"
                           [checked]='orderBy === "abc"'  type="radio" name="sortBy">
                    <p>алфавиту</p>
                </label>

                <label>
                    <input (change)="switchOrderBy('rating')"
                           [checked]='orderBy === "rating"' type="radio" name="sortBy">
                    <p>рейтингу</p>
                </label>
            </div>    

            <ng-container *ngFor="let card of performersCards">
                <app-card [card]='card' (scrollToMap)="scrollToMap(target)"></app-card>
            </ng-container>  
        </ng-container>        

        <ng-template #noCards>
            <div class="performers-not-found">
                <svg-icon-sprite src='not-found' width="134" height="94" viewBox="0 0 134 94"></svg-icon-sprite>
                <p class="performers-not-found">Исполнители не найдены</p>
                <p class="try-adjust-filter">Попробуйте скорректировать фильтр</p>
            </div> 
        </ng-template>       

        <ng-container *ngIf='pager !== null'>            
            <app-pagination [data]='pager'></app-pagination>
        </ng-container>        
    </div>

    <div class="module-window-map-location" [ngStyle]="{display: moduleWindowMapLocation ? 'block' : 'none'}">
        <p>Организация на карте</p>
        <div class="module-window-map-location-map"></div>
        <svg-icon-sprite src='cancel' width="10" height="10" viewBox="0 0 10 10"  
            (click)="moduleWindowMapLocation = false;
            onOffScroll($event)"> 
        </svg-icon-sprite>
    </div>
    <div class="overlay" [ngStyle]="{display: moduleWindowMapLocation ? 'block' : 'none'}"></div>
</div>