<div class="container">

    <button routerLink="/performers" class="button-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>К списку Исполнителей</span>
    </button>
    <button class="button-see-all-works">
        <mat-icon>camera_alt</mat-icon>
        <span>Посмотреть все работы</span>
    </button>
    <ng-container *ngIf='card'>
        <app-slider [gallery]='card.gallery'></app-slider>
        <app-card [card]='card' [rating]='getRating()'></app-card>
        <app-about-performer [card]='card'></app-about-performer>
        <app-map-location [markers]='markers'></app-map-location>
        <app-services></app-services>
        <app-reviews [reviews]='reviews'></app-reviews>
        <app-submit-application></app-submit-application>
        <app-complete-orders [performerId]='card.id'></app-complete-orders>
        <app-posted-orders [authorId]='card.id'></app-posted-orders>
        <app-author-blog></app-author-blog>
        <app-documents></app-documents>
        <app-certificates></app-certificates>
        <app-write-to-performer></app-write-to-performer> 
    </ng-container>
</div>