<div class="container">

    <button class="button-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>К списку Исполнителей</span>
    </button>
    <button class="button-see-all-works">
        <mat-icon>camera_alt</mat-icon>
        <span>Посмотреть все работы</span>
    </button>

    <app-slider></app-slider>
    <app-card [card]='card'></app-card>
    <app-about-performer></app-about-performer>
    <app-map-location></app-map-location>
    <app-services></app-services>
    <app-reviews></app-reviews>
    <app-submit-application></app-submit-application>
    <app-complete-applications></app-complete-applications>
    <app-posted-applications></app-posted-applications>
    <app-author-blog></app-author-blog>
    <app-documents></app-documents>
    <app-certificates></app-certificates>
    <app-write-to-performer></app-write-to-performer>

</div>