<div class="container">

    <div class="slider">
        <ng-container *ngFor="let img of sliderImages">
            <img [src]="img">
        </ng-container>
    </div>
    <div class="arrow-block left">
        <div class="arrow arrow-left">
            <mat-icon>arrow_back</mat-icon>
        </div>
    </div>
    <div class="arrow-block right">
        <div class="arrow arrow-right">
            <mat-icon>arrow_forward</mat-icon>
        </div>
    </div>



    <app-card [card]='card'></app-card>
    <app-aboutPerformer></app-aboutPerformer>
    <app-mapLocation></app-mapLocation>
    <app-reviews></app-reviews>
    <app-submitApplication></app-submitApplication>
    <app-postedApplications></app-postedApplications>
    <app-authorBlog></app-authorBlog>
    <app-certificates></app-certificates>
    <app-writeToPerformer></app-writeToPerformer>



</div>