.container{
    position: relative;
    overflow: hidden;
    background-color: #F7F9FB;
    padding-bottom: 32px;

    button{
        position: absolute;
        top: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 228px;
        height: 48px;
        padding: 0 16px;
        z-index: 666;

        &.button-back{
            left: 132px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 3px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }

        &.button-see-all-works{
            right: 132px;
            box-shadow: 0px 4px 40px rgba(71, 84, 101, 0.05);
            border-radius: 3px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #334D6E;
            background-color: #fff;

            mat-icon{
                color: #0D6FE3;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        padding-bottom: 40px;

        button{
            top: 32px;

            &.button-back{
                left: 24px;
            }

            &.button-see-all-works{
                right: 24px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container{
        flex-direction: column;

        button{
            top: 0;
            width: -webkit-fill-available;
            justify-content: unset;

            &.button-back{
                left: 0;
                border-radius: 0;

                mat-icon{
                    margin-right: 20px;
                }
            }

            &.button-see-all-works{
                justify-content: center;
                top: 168px;
                right: auto;
                margin: 0 1rem;

                mat-icon{
                    margin-right: 14px;
                }
            }
        }
    }
}