<div class="container">

    <p class="header">Новый альбом</p>

    <div class="basic-data">
        <p class="title">Обложка альбома</p>

        <div class="cover-and-album-info">
            <div class="cover">
                <div class="camera"><mat-icon>camera_alt</mat-icon></div>
                <button class="button-add-cover"><mat-icon>photo_camera</mat-icon>Добавить обложку</button>
            </div>

            <div class="album-info">
                <fieldset class="album-name">
                    <legend>Название альбома</legend>
                    <input type="text">
                </fieldset>

                <fieldset class="album-description">
                    <legend>Описание</legend>
                    <textarea></textarea>
                </fieldset>

                <div class="buttons-create-album-and-cancel">
                    <button class="button-create-album">Создать альбом</button>
                    <button class="button-cancel">Отмена</button>
                </div>
            </div>
        </div>
    </div>

</div>