<ng-container *ngIf='!isEmpty(); else noTags'>
    <ng-container *ngFor='let tag of tags; let i = index'>
        <ng-container *ngIf="tag.value !== '0'">
            <div class="tag-search">
                <p>{{tag.title}}: {{tag.text}}</p>
                <mat-icon (click)='deleteTag(tag)'>close</mat-icon>
            </div>
        </ng-container>       
    </ng-container>

    <p class="reset-all-tags-search" (click)='resetTags()'>Сбросить все фильтры</p>
</ng-container>

<ng-template #noTags>
    <p class="selected-categories">Все категории исполнителей</p>
</ng-template>
