.container-header-filters-and-sorting{
    width: 100%;
    height: 48px;
    display: none;

    .fixed{
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1001;
    }
}

.container{
    display: flex;
    background-color: #F7F9FB;

    .main-content{
        padding: 33px 31px;

        .breadcrumbs{
            display: flex;
            align-items: center;
            color: #8594A8;

            span{
                font-size: 14px;
                line-height: 20px;

                &:first-child{
                    color: #334D6E;
                    text-decoration: underline;
                }
            }

            mat-icon{
                width: 24px;
                height: 24px;
                font-size: 24px;
            }
        }

        .found-orders{
            margin: 14px 0 17px 0;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: #334D6E;
        }

        .tags{
            display: flex;
            align-items: center;

            .tag{
                display: flex;
                align-items: center;
                width: max-content;
                padding: 9px 8px 7px 8px;
                background: rgba(13, 111, 227, 0.1);
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;

                mat-icon{
                    padding: 4px;
                    margin-left: 8px;
                    font-size: 16px;
                    font-weight: 800;
                    background: #0D6FE330;
                    border-radius: 50%;
                    color: rgb(51, 77, 110);
                    cursor: pointer;
                }
            }

            .reset-all-tags{
                font-size: 14px;
                line-height: 24px;
                color: #0D6FE3;
                border-bottom: 1px dashed #0D6FE3;
                margin-left: 25px;
                cursor: pointer;
            }
        }

        .map{
            width: 976px;
            height: 360px;
            margin: 24px 0 40px 0;
        }

        .sort-by{
            display: flex;
            line-height: 24px;

            .sort-by-p{
                color: #8594A8;
            }

            label{
                margin-left: 25px;
                color: #334D6E;
                cursor: pointer;
                input{
                    display: none;
                }

                input:checked + p{
                    font-weight: 600;
                    border-bottom: 1px dashed #334D6E;
                }
            }
        }

        .orders{
            width: 976px;
            margin: 19px 0;
        }

        .pagination{
            display: flex;
            width: 512px;
            height: 56px;
            margin: 64px auto 47px auto;
            background: #FFFFFF;
            border: 1px solid #C3CBD6;
            box-shadow: 0px 4px 40px rgba(71, 84, 101, 0.05);
            border-radius: 5px;

            p{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-left: 1px solid #C3CBD6;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;
                cursor: pointer;

                &:first-child{
                    border: none;
                }

                &.active{
                    box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.0446671);
                    color: #8594A8;
                }
            }
        }
    }
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(27,47,84,0.6);
    z-index: 1002;
}

@media screen and (max-width: 1350px) {
    .container{

        .main-content{
            padding: 33px 16px;
        }
    }
}

@media screen and (max-width: 1275px) {
    .container-header-filters-and-sorting{
        display: block;
    }

    .container{

        .main-content{
            padding: 24px;
            margin: auto;

            .map{
                width: 720px;
            }

            .sort-by{
                display: none;
            }

            .orders{
                width: 720px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container{

        .main-content{
            padding: 16px;

            .found-orders{
                font-size: 24px;
                line-height: 28px;
            }

            .tags{
                display: none;
            }

            .map{
                width: 100%;
            }

            .orders{
                width: 100%;
            }

            .pagination{
                width: 112px;

                .page-number{
                    display: none;
                }
            }
        }
    }
}