<div class="container-header-filters-and-sorting">
    <app-header-filters
        [toggleFilters]="this.toggleFilters"
        [toggleOverlay]="this.toggleOverlay"
        (invertToggleFilters)="invertToggleFilters($event)"
        (invertToggleOverlay)="invertToggleOverlay($event)"
        [count]='this.tags.length'
        [ngClass]="shrinkHeader ? 'fixed' : ''"
    ></app-header-filters>
</div>

<div class="container">

    <app-filters
        [toggleFilters]="toggleFilters"
        [toggleOverlay]="toggleOverlay"
        (invertToggleFilters)="invertToggleFilters($event)"
        (invertToggleOverlay)="invertToggleOverlay($event)"
    ></app-filters>

    <div class="main-content">

        <p class="breadcrumbs">
            <span>Главная</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>Каталог заявок</span>
        </p>

        <p class="found-orders">Найдено 180 заявок</p>

        <div class="tags">
            <p class="tag">от 5000 руб. до 100 000 руб.<mat-icon>close</mat-icon></p>
            <p class="reset-all-tags">Сбросить все фильтры</p>
        </div>

        <div class="map">
            <app-map></app-map>
        </div>

        <div class="sort-by">
            <p class="sort-by-p">Сортировать по:</p>
            <label>
                <input type="radio" name="sortBy" checked>
                <p>алфавиту</p>
            </label>

            <label>
                <input type="radio" name="sortBy">
                <p>сначала высокая стоимость</p>
            </label>

            <label>
                <input type="radio" name="sortBy">
                <p>сначала низкая стоимость</p>
            </label>
        </div>

        <div class="orders">
            <app-order-card *ngFor="let order of orders" [order]="order"></app-order-card>
        </div>

        <div class="pagination">
            <p class=""><mat-icon>keyboard_arrow_left</mat-icon></p>
            <p class="page-number active">1</p>
            <p class="page-number">2</p>
            <p class="page-number">3</p>
            <p class="page-number">4</p>
            <p class="page-number">5</p>
            <p class="page-number">...</p>
            <p class="page-number">10</p>
            <p class=""><mat-icon>keyboard_arrow_right</mat-icon></p>
        </div>

    </div>

</div>

<div class="overlay" [ngStyle]="{display: toggleOverlay ? 'block' : 'none'}"></div>