<div class="container">

    <p class="header">Контактное лицо</p>

    <p class="description" *ngIf="contactFace.length === 0; else fieldIs">Вы не добавили контактное лицо. Добавьте контактное лицо, чтобы заказчики могли оставлять заявки конкретному человеку.</p>

    <ng-template #fieldIs>
        <p class="description">Добавьте контактное лицо, чтобы заказчики могли оставлять заявки конкретному человеку.</p>
    </ng-template>

    <div class="contact-face" *ngFor="let OneContactFace of contactFace, let i = index">
        <p>Контактное лицо {{ i + 1 }}</p>

        <div class="fieldsets">
            <fieldset>
                <legend>Фамилия</legend>
                <input type="text" name="">
            </fieldset>

            <fieldset>
                <legend>Имя</legend>
                <input type="text" name="">
            </fieldset>

            <fieldset>
                <legend>Телефон</legend>
                <input type="text" name="">
            </fieldset>

            <fieldset>
                <legend>E-mail</legend>
                <input type="text" name="">
            </fieldset>
        </div>

        <label>
            <input type="checkbox" name="" id="">
            <p>Использовать в качестве основного контактного лица</p>
        </label>

        <mat-icon>delete</mat-icon>
    </div>

    <button class="button-add-contact-face" (click)="addContactFace()" [ngStyle]="{marginTop: contactFace.length === 0 ? '18px' : ''}"><mat-icon>add</mat-icon>Добавить контактное лицо</button>

</div>