<div class="container">

    <div class="navigation">
        <div class="navigation-columns column-customers">
            <p class="navigation-column-title">Заказчику/покупателю</p>

            <div class="navigation-column-container">
                <div class="navigation-column">
                    <p class="navigation-column-list">Зарегистрироваться</p>
                    <p class="navigation-column-list">Создать заявку</p>
                    <p class="navigation-column-list">Подобрать исполнителя</p>
                    <p class="navigation-column-list">Найти консультанта</p>
                    <p class="navigation-column-list">Документация по заказу</p>
                </div>

                <div class="navigation-column">
                    <p class="navigation-column-list">Сравнить стоимость</p>
                    <p class="navigation-column-list">Создать документы</p>
                    <p class="navigation-column-list">Каталог товаров/услуг</p>
                    <p class="navigation-column-list">Изменить тариф</p>
                    <p class="navigation-column-list">Продвижение заявки</p>
                </div>
            </div>
        </div>

        <div class="navigation-columns column-performers">
            <p class="navigation-column-title">Исполнителю/поставщику</p>

            <div class="navigation-column-container">
                <div class="navigation-column">
                    <p class="navigation-column-list">Зарегистрировать профиль</p>
                    <p class="navigation-column-list">Создать услугу</p>
                    <p class="navigation-column-list">Создать товар</p>
                    <p class="navigation-column-list">Подобрать исполнителя</p>
                    <p class="navigation-column-list">Найти сотрудника</p>
                </div>

                <div class="navigation-column column-with-margin-left">
                    <p class="navigation-column-list">Подобрать заявку</p>
                    <p class="navigation-column-list">Услуги для бизнеса</p>
                    <p class="navigation-column-list">Создать документы</p>
                    <p class="navigation-column-list">Изменить тариф</p>
                    <p class="navigation-column-list">Продвижение профиля</p>
                </div>
            </div>
        </div>

        <div class="navigation-columns column-services">
            <p class="navigation-column-title">Услуги</p>

            <div class="navigation-column-container">
                <div class="navigation-column">
                    <ng-container *ngFor="let category of categories.slice(0, 7)">
                        <p class="navigation-column-list" [routerLink]="'/pages/services/service-catalog/' + category.id">{{ getOneLineTitle(category) }}</p>
                    </ng-container>                    
                </div>

                <div class="navigation-column column-services-relative">
                    <ng-container *ngFor="let category of categories.slice(7, 13)">
                        <p class="navigation-column-list" [routerLink]="'/pages/services/service-catalog/' + category.id">{{ getOneLineTitle(category) }}</p>
                    </ng-container>                    
                </div>
            </div>
        </div>

        <div class="navigation-columns column-about-service">
            <p class="navigation-column-title">О сервисе</p>

            <div class="navigation-column-container">
                <div class="navigation-column">
                    <p class="navigation-column-list">О нас</p>
                    <p class="navigation-column-list">Как пользоваться</p>
                    <p class="navigation-column-list">Новости</p>
                    <p class="navigation-column-list">События</p>
                    <p class="navigation-column-list">Реклама на сайте</p>
                </div>

                <div class="navigation-column column-with-margin-left">
                    <p class="navigation-column-list">API</p>
                    <p class="navigation-column-list">Отзывы</p>
                    <p class="navigation-column-list">Тарифы и цены</p>
                    <p class="navigation-column-list">Служба поддержки</p>
                    <p class="navigation-column-list">Контакты</p>
                </div>
            </div>
        </div>

        <div class="navigation-columns column-knowledge-base">
            <p class="navigation-column-title">База знаний</p>

            <div class="navigation-column-container">
                <div class="navigation-column">
                    <p class="navigation-column-list">Регламенты</p>
                    <p class="navigation-column-list">Документы</p>
                    <p class="navigation-column-list">Готовые договоры</p>
                    <p class="navigation-column-list">Калькулятор стоимости</p>
                    <p class="navigation-column-list">Статьи</p>
                </div>

                <div class="navigation-column">
                    <p class="navigation-column-list">Вопрос-ответ</p>
                    <p class="navigation-column-list">Советы специалистов</p>
                    <p class="navigation-column-list">Форум</p>
                    <p class="navigation-column-list">Полезные ссылки</p>
                    <p class="navigation-column-list">Калькулятор потребности</p>
                </div>
            </div>
        </div>


        <button class="navigation-button-for-mobile">Галерея работ</button>

        <div class="navigation-columns-for-mobile">
            <div class="navigation-column">
                <p class="navigation-column-list">О сервисе</p>
                <p class="navigation-column-list">Заявки</p>
                <p class="navigation-column-list">Документы</p>
                <p class="navigation-column-list">Форум</p>
            </div>

            <div class="navigation-column">
                <p class="navigation-column-list">Регистрация</p>
                <p class="navigation-column-list">Исполнители</p>
                <p class="navigation-column-list">Калькуляторы</p>
                <p class="navigation-column-list">Вопросы</p>
            </div>
        </div>


        <div class="navigation-column-subscribe">
            <p class="navigation-column-subscribe-title">Будь в курсе наших новостей</p>

            <div class="email-and-subscribe">
                <input type="email" placeholder="Ваш e-mail">
                <button>Подписаться</button>
            </div>

            <label class="agreement-personal-data">
                <input type="checkbox">
                <p>Согласен на обработку <span>персональных данных</span></p>
            </label>
        </div>
    </div>

    <div class="footer">
        <p class="all-rights-reserved">© 2020 ООО «СтройкаГид». <br> Все права защищены.</p>

        <div class="web-links">
            <img src="../../../assets/images/link-vk.png">
            <img src="../../../assets/images/link-facebook.png">
            <img src="../../../assets/images/link-telegram.png">
            <img src="../../../assets/images/link-twitter.png">
            <img src="../../../assets/images/link-youtube.png">
        </div>

        <button>Блог</button>

        <p class="privacy-policy">Политика конфиденциальности</p>

        <p class="full-version-site">Перейти на полную версию сайта</p>
    </div>

</div>