<div class="container">

    <p class="header">Выполненные заявки</p>

    <div class="sort-by">
        <label>
            <input type="radio" name="sortByCompleteApplications" checked>
            <p>Все</p>
            <span class="amount-all">122</span>
        </label>

        <label>
            <input type="radio" name="sortByCompleteApplications">
            <p>эконом</p>
            <span class="amount-economy">80</span>
        </label>

        <label>
            <input type="radio" name="sortByCompleteApplications">
            <p>стандарт</p>
            <span class="amount-standard">18</span>
        </label>

        <label>
            <input type="radio" name="sortByCompleteApplications">
            <p>премиум</p>
            <span class="amount-premium">31</span>
        </label>
    </div>

    <div class="applications">
        <div *ngFor="let application of applications" class="application">

            <div *ngIf="application.images" class="images">
                <img *ngFor="let image of application.images" [src]="image">
            </div>

            <div class="title-and-price">
                <p class="title">{{ application.title }}</p>
                <p class="price">{{ application.price }}</p>
            </div>

            <p class="date">Завершен {{ application.date }}</p>

            <hr>

            <div class="rating-and-segment">
                <p class="rating"><app-rating-stars [stars]="application.rating"></app-rating-stars></p>

                <p [ngStyle]="{'color': getColor(application.segment)}" class="segment">{{ application.segment }}</p>
            </div>

        </div>
    </div>

    <button class="button-show-more">Показать еще 10 выполненных заявок</button>

</div>