<div class="container">

    <app-navigation></app-navigation>

    <div class="center-and-right-columns">
        <div class="center-column">
            <app-profile [performer]="performer"></app-profile>
            <app-requisites></app-requisites>
        </div>

        <div class="right-column">
            <app-basicInfo [performer]="performer"></app-basicInfo>
            <app-gallery></app-gallery>
            <app-services></app-services>
            <app-reviews></app-reviews>
            <app-acceptedOrders></app-acceptedOrders>
            <app-posted-orders></app-posted-orders>
            <app-documents></app-documents>
            <app-certificates></app-certificates>
        </div>
    </div>

</div>