<div class="container">

    <div class="section" routerLink="profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <p class="section-title">Профиль</p>
    </div>

    <div class="section" routerLink="basicInfo" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <p class="section-title">Основная информация</p>
    </div>

    <div class="section" [routerLink]="'/personalArea/' + id + '/gallery'" routerLinkActive="active">
        <mat-icon>work</mat-icon>
        <p class="section-title">Галерея работ</p>
    </div>

    <div class="section" routerLink="services" routerLinkActive="active">
        <mat-icon>construction</mat-icon>
        <p class="section-title">Услуги</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>rate_review</mat-icon>
        <p class="section-title">Отзывы</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>assignment_returned</mat-icon>
        <p class="section-title">Заявки</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>insert_drive_file</mat-icon>
        <p class="section-title">Документы</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon>
        <p class="section-title">Справочники</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>shopping_basket</mat-icon>
        <p class="section-title">Покупки</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>email</mat-icon>
        <p class="section-title">Сообщения</p>
        <p class="count">12</p>
    </div>

    <hr>

    <div class="section" routerLinkActive="active">
        <mat-icon>bookmark</mat-icon>
        <p class="section-title">Избранное</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>data_saver_off</mat-icon>
        <p class="section-title">Статистика</p>
    </div>

    <div class="section" routerLinkActive="active">
        <mat-icon>article</mat-icon>
        <p class="section-title">Блог</p>
    </div>

</div>