<div class="container" *ngIf='servicesForm'>

    <p class="header">Услуги <span>{{arrayService.length}}/25</span></p>

    <p class="description">Выберите услуги, которые сможете предоставлять заказчикам. Первые 5 услуг будут отображаться в качестве ваших основных услуг. Максимальное количество — 25 услуг.</p>

    <form [formGroup]="servicesForm">
        <div formArrayName="services" class='list' cdkDropList (cdkDropListDropped)="drop($event)">            
            <ng-container *ngFor="let ownService of arrayService, let i = index">
                <div class="service" [formGroupName]="i" cdkDrag>
                    <mat-icon class="drag" cdkDragHandle>drag_indicator</mat-icon>    
                    <div class="choose-service">
                        <p class="title">{{ i + 1 }}.</p>        
                        <div class="title-mobile">
                            <p class="title-mobile-header">Услуга {{ i + 1 }}</p>
            
                            <div class="replace-and-delete">
                                <p>
                                    Порядок
                                    <mat-icon (click)="switchElem(arrayService, i, 'down')">keyboard_arrow_down</mat-icon>
                                    <mat-icon (click)="switchElem(arrayService, i, 'up')">keyboard_arrow_up</mat-icon>
                                </p>
            
                                <mat-icon class="delete-mobile" (click)="deleteElement(arrayService, i)">delete</mat-icon>
                            </div>
                        </div>
            
                        <fieldset>
                            <legend>Выберите услугу</legend>
                            <select formControlName="service">
                                <option value="Не выбрано">Не выбрано</option>
                                <ng-container *ngFor='let srv of services$ | async'>
                                    <option [value]="srv.id">{{srv.title}}</option>
                                </ng-container>                            
                            </select>
                        </fieldset>
            
                        <mat-icon class="delete" (click)="deleteElement(arrayService, i)">delete</mat-icon>
                    </div>
        
                    <div class="price-level">
                        <p class="title-price-level">Уровень цен</p>
            
                        <div class="fieldsets">
                            <fieldset>
                                <legend>Эконом</legend>
                                <select name="" formControlName="low">
                                    <option [value]="false">Нет</option>
                                    <option [value]="true">Да</option>
                                </select>
                            </fieldset>
            
                            <fieldset>
                                <legend>Стандарт</legend>
                                <select name="" formControlName="standard">
                                    <option [value]="false">Нет</option>
                                    <option [value]="true">Да</option>
                                </select>
                            </fieldset>
            
                            <fieldset>
                                <legend>Премиум</legend>
                                <select name="" formControlName="premium">
                                    <option [value]="false">Нет</option>
                                    <option [value]="true">Да</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <button [disabled]='arrayService.length >= 25' class="add" (click)="addService()">
            <mat-icon>add</mat-icon>Добавить услугу
        </button>

        <div class="buttons-save-and-look">
            <button [disabled]='!isChanged' class="button-save" (click)='submit()'>Сохранить изменения</button>
            <button class="button-look">Посмотреть на странице исполнителя<mat-icon>launch</mat-icon></button>
        </div>
    </form>

</div>