<div class="container">

    <p class="header">Размещенные заявки <span>({{orders.length}})</span></p>

    <div *ngFor="let order of orders" class="order">
        <div class="title-and-price">
            <p class="title">{{ order.title }} <span>{{ order.price }}</span></p>
            <p class="price">{{ order.price }}</p>
        </div>

        <p class="description">{{ order.description }}</p>

        <div class="info">
            <p class="info-elem"><span class="param">Вид услуг:</span></p>
            <p class="info-elem"><span class="param">Местоположение:</span></p>
            <p class="info-elem"><span class="param">Бюджет:</span></p>
            <p class="info-elem"><span class="param">Срок выполнения:</span></p>
            <p class="info-elem" *ngIf="order.segment">
                <span class="param last-param">Уровень цен:</span>
                <span class="segment" *ngFor="let segment of order.segment" [ngStyle]="{'background': getBackground(segment), 'color': getColor(segment)}">{{ segment }}</span>
            </p>
        </div>

        <div class="statistics-mobile">
            <p class="statistic"><mat-icon>camera_alt</mat-icon>{{ order.amountOfPhotos }}</p>
            <p class="statistic"><mat-icon>visibility</mat-icon>{{ order.views }}</p>
            <p class="statistic" *ngIf="order.reviews"><mat-icon>chat_bubble</mat-icon>{{ order.reviews.length }} откликов</p>
            <!-- возможный костыль *ngIf="order.reviews"-->
        </div>

        <hr>

        <div class="date-and-statistics">
            <p class="date">//Тут надо вывести дату</p>

            <div class="statistics">
                <p class="statistic"><mat-icon>camera_alt</mat-icon>{{ order.amountOfPhotos }}</p>
                <p class="statistic"><mat-icon>visibility</mat-icon>{{ order.views }}</p>
                <p class="statistic" *ngIf="order.reviews"><mat-icon>chat_bubble</mat-icon>{{ order.reviews.length }} откликов</p>
                <!-- возможный костыль *ngIf="order.reviews"-->
            </div>
        </div>
    </div>

    <button class="button-all-posted-orders">Все размещенные заявки</button>

</div>