<ng-container *ngIf='!isMobile; else mobile'>
    <div (click)="showService = !showService" class="service">
        <p class="title-and-segments">
            <span class="title">{{ service.title }}</span>
            <span class="segment"
                [ngStyle]="{'background': getBackground(segment), 'color': getColor(segment)}" 
                *ngFor="let segment of service.getSegments(currentSegment)">{{ segment }}
            </span>
        </p>

        <div class="price-and-toggle">
            <p class="price">{{ service.getMinPrice(currentSegment) }}</p>
        </div>
    </div>
</ng-container>

<ng-template #mobile>
    <div class="service-mobile">
        <p class="title-segments-mobile">
            <span class="title-mobile">{{ service.title }}</span>
            <span class="segment-mobile" 
                [ngStyle]="{'background': getBackground(segment), 'color': getColor(segment)}"
                *ngFor="let segment of service.getSegments()">{{ segment }}
            </span>
        </p>

        <p class="price-mobile" (click)="showService = !showService" 
                                [ngStyle]="{borderBottomStyle: showService ? 'solid' : 'dashed'}">
                                {{ service.getMinPrice() }}</p>
    </div>
</ng-template>
