<div class="container">

    <p class="header">Местоположение</p>

    <p class="description">Добавьте местоположение, чтобы заказчики могли посещать Ваш офис.</p>

    <div class="fieldsets">
        <div class="house-and-apartment">
            <fieldset>
                <legend>Населенный пункт</legend>

                <select name="">
                    <option value="">Введите название</option>
                </select>
            </fieldset>

            <div class="mini-fieldsets">
                <fieldset>
                    <legend>Дом</legend>
            
                    <select name="">
                        <option value="">Введите номер</option>
                    </select>
                </fieldset>
    
                <fieldset>
                    <legend>Литера</legend>
            
                    <select name="">
                        <option value="">Введите номер</option>
                    </select>
                </fieldset>
            </div>
        </div>

        <div class="house-and-apartment">
            <fieldset>
                <legend>Улица</legend>

                <select name="">
                    <option value="">Введите название</option>
                </select>
            </fieldset>

            <div class="mini-fieldsets">
                <fieldset>
                    <legend>Корпус</legend>
            
                    <select name="">
                        <option value="">Введите номер</option>
                    </select>
                </fieldset>
    
                <fieldset>
                    <legend>Офис/квартира</legend>
            
                    <select name="">
                        <option value="">Введите номер</option>
                    </select>
                </fieldset>
            </div>
        </div>
    </div>

</div>