.container{
    width: 776px;
    padding: 63px 0 66px 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(71, 84, 101, 0.05);

    .title{
        width: max-content;
        margin: auto;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
    }

    .description{
        max-width: 454px;
        margin: 11px auto 25px auto;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #8594A8;
    }

    fieldset{
        width: 376px;
        height: 53px;
        margin: auto;
        border: 1px solid #C3CBD6;
        border-radius: 4px;

        legend{
            position: relative;
            top: 1px;
            margin-left: 7px;
            padding: 0 5px 0 4px;
            font-size: 12px;
            line-height: 18px;
            color: #8594A8;
        }

        input{
            position: relative;
            width: 100%;
            height: 26px;
            padding: 0 11px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #334D6E;
            border: none;

            &:focus{
                outline: none;
            }
        }
    }

    .send-link{
        display: block;
        width: 376px;
        height: 48px;
        margin: 24px auto 22px auto;
        border-radius: 3px;
        background-color: #0D6FE3;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .back-to-login{
        width: max-content;
        margin: auto;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #334D6E;
        cursor: pointer;
        outline: none;
    }
}