<ng-container *ngIf="!isLinkSent; else linkSentToMail">
    <div class="forgot-password-container">

        <p class="title">Забыли пароль?</p>

        <p class="description">Введит email, указанный при регистрации и мы вышлем Вам ссылку для восстановления пароля</p>

        <fieldset>
            <legend>E-mail адрес</legend>
            <input type="email" placeholder="Введите e-mail">
        </fieldset>

        <button class="send-link" (click)="isLinkSent = true">Выслать ссылку</button>

        <p class="back-to-login" routerLink="/pages/authorization/login">Вернуться к авторизации</p>

    </div>
</ng-container>

<ng-template #linkSentToMail>
    <div class="link-sent-to-mail-container">
        <!-- Перенести svg -->
        <svg width="138" height="145" viewBox="0 0 138 145" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M1.01295 54.702L134.173 53.735L137.884 144.267L0.00195312 142.989L1.01295 54.702Z" fill="#0D6FE3"/>
            <path d="M1.01294 54.702L68.6159 0L134.173 53.735" fill="#0D6FE3"/>
            <g opacity="0.3">
            <g opacity="0.3">
            <path opacity="0.3" d="M1.01294 54.702L68.6159 0L134.173 53.735" fill="black"/>
            </g>
            </g>
            <path d="M0.00191271 142.989C-0.164087 142.833 10.4959 131.194 23.8099 116.995C37.1279 102.791 48.0549 91.407 48.2209 91.563C48.3869 91.719 37.7289 103.356 24.4109 117.559C11.0979 131.758 0.167913 143.144 0.00191271 142.989Z" fill="#263238"/>
            <path d="M137.884 144.267C137.714 144.418 127.332 133.014 114.699 118.798C102.061 104.577 91.9581 92.93 92.1281 92.779C92.2981 92.628 102.678 104.03 115.315 118.25C127.949 132.466 138.054 144.116 137.884 144.267Z" fill="#263238"/>
            <g opacity="0.5">
            <g opacity="0.5">
            <path opacity="0.5" d="M134.173 53.735L67.3069 107.151L1.01294 54.702" fill="black"/>
            </g>
            </g>
            <path d="M7.7179 59.649L7.5249 20.913L124.151 18.06L125.424 60.44L67.2999 106.452L7.7179 59.649Z" fill="#EBEBEB"/>
            <g clip-path="url(#clip1)">
            <path d="M64.8965 83.8603L88.2776 52.6077L49.5215 57.23L55.5007 67.5863L79.4009 57.7327L58.9173 73.5041L64.8965 83.8603Z" fill="#0D6FE3"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="137.886" height="144.268" fill="white"/>
            </clipPath>
            <clipPath id="clip1">
            <rect width="41" height="41" fill="white" transform="translate(44 54.5) rotate(-30)"/>
            </clipPath>
            </defs>
        </svg>
        <!-- Перенести svg -->

        <p class="title">Ссылка отправлена на почту</p>

        <p class="description">Мы выслали Вам ссылку для восстановления пароля на указанную почту. </p>

        <button class="back-to-login" routerLink="/pages/authorization/login">Вернуться к авторизации</button>
    </div>
</ng-template>