.container{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 236px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover{

        .edit{
            opacity: 1;
        }
    }

    .edit{
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        color: #fff;
        transition: .2s;
        opacity: 0;
    }

    p{
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;

        &.title{
            font-weight: 500;
        }

        &.count{
            margin-right: 16px;
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        height: 264px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        height: 216px;
    }
}