<div class="filters" [ngClass]="toggle ? 'show' : ''">
    <p class="filter-header" (click)="toggle = !toggle">Фильтр<mat-icon>close</mat-icon></p>

    <div class="filter">
        <p class="filter-title" (click)="filterLocation = !filterLocation">Местоположение<mat-icon [ngStyle]="{transform: filterLocation ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-location-content" [ngStyle]="{display: filterLocation ? 'block' : 'none'}">
            <fieldset>
                <legend>Населенный пункт</legend>
                <select>
                    <option>Москва</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Район</legend>
                <select>
                    <option>Выберите район</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Метро</legend>
                <select>
                    <option>Выберите район</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Радиус поиска</legend>
                <select>
                    <option>Выберите радиус поиска</option>
                </select>
            </fieldset>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterServices = !filterServices">Услуги<mat-icon [ngStyle]="{transform: filterServices ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-services-content" [ngStyle]="{display: filterServices ? 'block' : 'none'}">
            <div class="search">
                <input type="search" placeholder="Поиск по услугам">

                <button>
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div class="service" *ngFor='let category of catSrv.getNodeCategory() | async; let i = index'>
                <div class="service-title" [ngClass]="number === i ? 'open' : ''" (click)="number = number === i ? null : i">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <p>{{category.title}} ({{(catSrv.getNodeCategory(category.id) | async).length}})</p>
                </div>

                <div class="checkboxes">
                    <div class="checkbox" [@toggleTree]="number === i ? 'open' : 'close'" *ngFor='let sub of catSrv.getNodeCategory(category.id) | async'>
                        <label>
                            <input type="checkbox" [checked]='isChecked(sub.title)' [value]="sub.title" (change)='setCategories($event.target.value)'>
                            <p>{{sub.title}}</p>
                        </label>
                    </div>
                </div>
            </div>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterPriceLevel = !filterPriceLevel">Уровень цен<mat-icon [ngStyle]="{transform: filterPriceLevel ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-radio-content" [ngStyle]="{display: filterPriceLevel ? 'block' : 'none'}">
            <label>
                <input type="radio" name="cost">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Не имеет значения</p>
            </label>
            <label>
                <input type="radio" name="cost">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Эконом</p>
            </label>

            <label>
                <input type="radio" name="cost">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Стандарт</p>
            </label>

            <label>
                <input type="radio" name="cost">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Премиум</p>
            </label>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterContract = !filterContract">Договор<mat-icon [ngStyle]="{transform: filterContract ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-radio-content" [ngStyle]="{display: filterContract ? 'block' : 'none'}">
            <label>
                <input type="radio" name="contract" checked>
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Не имеет значения</p>
            </label>

            <label>
                <input type="radio" name="contract">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Да</p>
            </label>

            <label>
                <input type="radio" name="contract">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Нет</p>
            </label>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterTypeOfPerformer = !filterTypeOfPerformer">Тип профиля<mat-icon [ngStyle]="{transform: filterTypeOfPerformer ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-checkbox-content" [ngStyle]="{display: filterTypeOfPerformer ? 'block' : 'none'}">
            <label>
                <input type="checkbox" name="contract">
                <p>Юридическое лицо</p>
            </label>

            <label>
                <input type="checkbox" name="contract">
                <p>Индивид. предприниматель</p>
            </label>

            <label>
                <input type="checkbox" name="contract">
                <p>Физическое лицо</p>
            </label>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterOrderSum = !filterOrderSum">Сумма заявки<mat-icon [ngStyle]="{transform: filterOrderSum ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-order-sum-content" [ngStyle]="{display: filterOrderSum ? 'block' : 'none'}">
            <div class="from-to">
                <label>
                    <p>от</p>
                    <input type="text" (change)="setLeftValue()">
                </label>

                <hr>

                <label>
                    <p>до</p>
                    <input type="text">
                </label>
            </div>

            <nouislider connect="true" min="0" max="15" step="1" [(ngModel)]="someRange"></nouislider>

            <div class="double-slider">
                <div class="range"></div>
                <div class="thumb left"><span></span></div>
                <div class="thumb right"><span></span></div>
            </div>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filter">
        <p class="filter-title" (click)="filterOrderStatus = !filterOrderStatus">Статус заявки<mat-icon [ngStyle]="{transform: filterOrderStatus ? 'rotate(180deg)' : ''}">keyboard_arrow_down</mat-icon></p>

        <div class="filter-radio-content" [ngStyle]="{display: filterOrderStatus ? 'block' : 'none'}">
            <label>
                <input type="radio" name="contract" checked>
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Не выбрано</p>
            </label>

            <label>
                <input type="radio" name="contract">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>В работе</p>
            </label>

            <label>
                <input type="radio" name="contract">
                <div class="circle">
                    <div class="circle-blue"></div>
                </div>
                <p>Завершено</p>
            </label>

            <p class="reset">Сбросить</p>
        </div>
    </div>

    <div class="filters-buttons">
        <button class="reset">Сбросить</button>
        <button class="apply">Применить</button>
    </div>
</div>
