<div class="container">

    <p class="h">Вход в систему</p>
    <p class="description-h">Мы публикуем заявки только от авторизированных в системе пользователей. Войдите или зрегистрируйтесь, если у Вас еще нет аккаунта на нашем сайте.</p>

    <div class="block">
        <div class="login">
            <p class="title">Войти через социальные сети</p>
            <div class="svgs">
                <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="38" cy="38" r="38" fill="#597C9F"/>
                </svg>
                    
                <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="38" cy="38" r="38" fill="#3B5A96"/>
                </svg>
                <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="38" cy="38" r="38" fill="#E27E23"/>
                </svg>
                <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="38" cy="38" r="38" fill="#EF4B3F"/>
                </svg>
            </div>

            <p class="title">Войти с помощью e-mail</p>
            <div class="fieldsets">
                <fieldset>
                    <legend>E-mail адрес</legend>
                    <input type="email" placeholder="Введите e-mail">
                </fieldset>

                <fieldset>
                    <legend>Пароль</legend>
                    <input class="input-password" type="password" placeholder="Введите пароль">
                    <mat-icon>visibility</mat-icon>
                    <p class="forgot-password" routerLink="/pages/authorization/password">Забыли пароль?</p>
                </fieldset>
            </div>

            <button class="enter">Войти</button>

            <p class="have-an-account">У вас нет аккаунта? <span>Регистрация</span></p>
        </div>

        <div class="additional-info">
            <div class="info-elem">
                <p class="info-title">До 60% экономии</p>
                <p class="info-description">за счет конкуренции исполнителей и отсутствия комиссии</p>
            </div>
            <div class="info-elem">
                <p class="info-title">Конфиденциально</p>
                <p class="info-description">сообщайте свои контакты только выбранным исполнителям</p>
            </div>
            <div class="info-elem">
                <p class="info-title">Более 3000 исполнителей</p>
                <p class="info-description">помогут Вам выбрать мастеров и бригады</p>
            </div>
        </div>
    </div>

</div>