<div class="container">

    <app-searcher></app-searcher>
    <app-categories></app-categories>
    <app-applications></app-applications>

    <!-- <app-bannerUnifiedPlatform></app-bannerUnifiedPlatform>
    <app-forCustomersAndPerformers></app-forCustomersAndPerformers>
    <app-bestPerformers></app-bestPerformers>
    <app-bannerSubmitApplication></app-bannerSubmitApplication>
    <app-news></app-news>
    <app-bannerAboutProject></app-bannerAboutProject>
    <app-latestWorks></app-latestWorks>
    <app-reviewsVideos></app-reviewsVideos> -->

</div>