<div class="container">
    <form>


        <div class="columns">

            <div class="left-column">
                <div class="physicalFace">
                    <p>Физическое лицо:</p>
                    
                    <input type="text" placeholder="Фамилия">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Отчество">
                    <input type="text" placeholder="ИНН">
                    <input type="text" placeholder="Адрес регистрации">
                </div>

            </div>


            <div class="right-column">

                <div class="bank-requisites">
                    <p class="bank-requisites-header">Банковские реквизиты</p>

                    <div class="scores">
                        <p>Основной счёт:</p>

                        <input type="text" placeholder="Основной счёт">
                        <input type="text" placeholder="Наименование банка">
                        <input type="text" placeholder="БИК:">
                        <input type="text" placeholder="Кор. счёт:">
                    </div>

                    <hr>

                    <div class="scores">
                        <p>Дополнительный счёт:</p>

                        <input type="text" placeholder="Дополнительный счёт">
                        <input type="text" placeholder="Наименование банка">
                        <input type="text" placeholder="БИК:">
                        <input type="text" placeholder="Кор. счёт:">
                    </div>
                </div>

            </div>


        </div>









    </form>
</div>