<div class="filter" [ngClass]="toggle ? 'show' : ''">
    <div class="filter-title" (click)='toggle = !toggle'>
        <p>{{filter.title}}</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="filter-inner">
        <div class="filter-inner-rating">
            <ng-container *ngIf="filter.type === 'radio'; else checkbox">
                <ng-container *ngFor='let point of filter.selector'>
                    <label>
                        <input type="radio"
                            (change)='sendData(point)'
                            [name]='filter.title' 
                            [checked]='filter.checked.includes(point.value)'
                            >
                        <div class="circle"><div class="circle-inner"></div></div>
                        <p>{{point.text}}</p>
                    </label>
                </ng-container> 
            </ng-container>
            <ng-template #checkbox>      
                <ng-container *ngFor='let point of filter.selector'>          
                    <label>
                        <input (change)='sendData(point)' type="checkbox" [name]='filter.title'>
                        <p>{{point.text}}</p>
                    </label>
                </ng-container>
            </ng-template>
            <p class="reset" (click)='resetFilter()'>Сбросить</p>
        </div>
    </div>
</div>