<div class="container">

    <div class="button-burger-and-logo">
        <button class="button-burger" (click)="openBurgerMenu = !openBurgerMenu; openMainSectionsMenu = false; onOffScroll($event)">
            <mat-icon *ngIf="!openBurgerMenu; else clear">menu</mat-icon>
            <ng-template #clear>
                <mat-icon>clear</mat-icon>
            </ng-template>
        </button>

        <img class="logo" src="/assets/images/profile/header/logo.png" routerLink="/pages">
    </div>

    <div class="manual">
        <mat-icon class="notifications">today</mat-icon>
        <mat-icon class="notifications">notifications<span></span></mat-icon>
        <mat-icon class="notifications" (click)="openMainSectionsModalMenu = !openMainSectionsModalMenu">dashboard</mat-icon>

        <img class="avatar" src="../../../../assets/images/profile/header/avatar.png">

        <div class="logout">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 17V14H9V10H16V7L21 12L16 17ZM14 2C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6H14V4H5V20H14V18H16V20C16 20.5304 15.7893 21.0391 15.4142 21.4142C15.0391 21.7893 14.5304 22 14 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V4C3 3.46957 3.21071 2.96086 3.58579 2.58579C3.96086 2.21071 4.46957 2 5 2H14Z" fill="#EA4545"/>
            </svg>
            <p>Выйти</p>
        </div>
    </div>

    <div class="main-sections-modal" *ngIf="openMainSectionsModalMenu">
        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7196 1.06697L0 10H24L13.2804 1.06697C12.5387 0.448897 11.4613 0.448897 10.7196 1.06697Z" fill="white"/>
        </svg>

        <p class="main-section-modal">Главная</p>
        <p class="main-section-modal" routerLink='/pages/services'>Услуги</p>
        <p class="main-section-modal" routerLink='/pages/orders'>Заявки</p>
        <p class="main-section-modal" routerLink='/pages/performers'>Исполнители</p>
        <p class="main-section-modal">Галерея работ</p>
        <p class="main-section-modal">Калькулятор</p>
        <p class="main-section-modal">Документы</p>
        <p class="main-section-modal">База знаний</p>
        <p class="main-section-modal">Избранное</p>
    </div>

    <div class="navigation" [ngStyle]="{left: openBurgerMenu ? '0' : '-100%'}">

        <div class="section first-section" routerLink="profile" (click)="openBurgerMenu = false; onOffScroll($event)">
            <mat-icon>person</mat-icon>
            <p class="section-title">Профиль</p>
        </div>
    
        <div class="section" routerLink="basicInfo" (click)="openBurgerMenu = false; onOffScroll($event)">
            <mat-icon>info</mat-icon>
            <p class="section-title">Основная информация</p>
        </div>
    
        <div class="section" routerLink="gallery" (click)="openBurgerMenu = false; onOffScroll($event)">
            <mat-icon>work</mat-icon>
            <p class="section-title">Галерея работ</p>
        </div>
    
        <div class="section" routerLink="services" (click)="openBurgerMenu = false; onOffScroll($event)">
            <mat-icon>construction</mat-icon>
            <p class="section-title">Услуги</p>
        </div>
    
        <div class="section">
            <mat-icon>rate_review</mat-icon>
            <p class="section-title">Отзывы</p>
        </div>
    
        <div class="section">
            <mat-icon>assignment_returned</mat-icon>
            <p class="section-title">Заявки</p>
        </div>
    
        <div class="section">
            <mat-icon>insert_drive_file</mat-icon>
            <p class="section-title">Документы</p>
        </div>
    
        <div class="section">
            <mat-icon>menu_book</mat-icon>
            <p class="section-title">Справочники</p>
        </div>
    
        <div class="section">
            <mat-icon>shopping_basket</mat-icon>
            <p class="section-title">Покупки</p>
        </div>
    
        <div class="section">
            <mat-icon>email</mat-icon>
            <p class="section-title">Сообщения</p>
            <p class="count">12</p>
        </div>

        <div class="section section-from-header">
            <mat-icon>today</mat-icon>
            <p class="section-title">Календарь событий</p>
        </div>

        <div class="section section-from-header">
            <mat-icon>notifications</mat-icon>
            <p class="section-title">Уведомления</p>
            <p class="count">21</p>
        </div>

        <div class="section section-from-header" (click)="openMainSectionsMenu = true">
            <mat-icon>dashboard</mat-icon>
            <p class="section-title">Основные разделы</p>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        </div>

        <hr>

        <div class="section first-section">
            <mat-icon>bookmark</mat-icon>
            <p class="section-title">Избранное</p>
        </div>
    
        <div class="section">
            <mat-icon>data_saver_off</mat-icon>
            <p class="section-title">Статистика</p>
        </div>
    
        <div class="section">
            <mat-icon>article</mat-icon>
            <p class="section-title">Блог</p>
        </div>

    </div>

    <div class="main-sections" [ngStyle]="{right: openMainSectionsMenu ? '0' : '-100%'}">
        <div class="main-sections-back" (click)="openMainSectionsMenu = false">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <p>Основные разделы</p>
        </div>

        <p class="main-section" (click)="openMainSectionsMenu = false">Главная</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Услуги</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Заявки</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Исполнители</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Галерея работ</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Калькулятор</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Документы</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">База знаний</p>
        <p class="main-section" (click)="openMainSectionsMenu = false">Избранное</p>
    </div>

</div>