<div class="container">

    <p class="header">Местоположение</p>

    <p class="description">Добавьте местоположение, чтобы заказчики могли посещать Ваш офис.</p>

    <div class="fieldsets">
        <div class="house-and-apartment">
            <fieldset>
                <legend>Населенный пункт</legend>
                <input type="text" placeholder="Введите название">
            </fieldset>

            <div class="mini-fieldsets">
                <fieldset>
                    <legend>Дом</legend>
                    <input type="text" placeholder="Введите номер">
                </fieldset>
    
                <fieldset>
                    <legend>Литера</legend>
                    <input type="text" placeholder="Введите номер">
                </fieldset>
            </div>
        </div>

        <div class="house-and-apartment">
            <fieldset>
                <legend>Улица</legend>
                <input type="text" placeholder="Введите название">
            </fieldset>

            <div class="mini-fieldsets">
                <fieldset>
                    <legend>Корпус</legend>
                    <input type="text" placeholder="Введите номер">
                </fieldset>
    
                <fieldset>
                    <legend>Офис/квартира</legend>
                    <input type="text" placeholder="Введите номер">
                </fieldset>
            </div>
        </div>
    </div>

</div>