.container{
    position: relative;
    width: 776px;
    margin: 40px auto;

    .arrow{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        font-size: 40px;
        color: #90A0B7;
        transition: all .2s;
    }

    .header{
        position: relative;
        display: flex;
        z-index: 6;
        cursor: pointer;

        p{
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #334D6E;

            span{
                color: #90A0B7;
            }
        }
    }

    .statistics{
        position: relative;
        display: flex;
        width: 776px;
        height: 224px;
        margin: 24px 0 40px 0;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(71, 84, 101, 0.05);
        border-radius: 4px;

        .donut{
            width: 224px;
            height: 224px;
            margin: -5px 14px 0 9px;
            stroke-linecap: round;

            .donut-segment{
                transform: rotate(-90deg) translateX(-100%);
            }
        }

        .statistics-rating-and-based-on-comments{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 80px;
            top: 74px;
            left: 72px;

            .statistics-rating{
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                color: #334D6E;
            }

            .based-on-comments{
                font-size: 12px;
                line-height: 18px;
                color: #8594A8;
            }
        }

        .lines{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .line-block{
                display: flex;
                align-items: center;
                margin: 4px 0;

                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: #334D6E;

                    &.rating-number{
                        font-weight: 500;
                    }
                }

                .line{
                    display: flex;
                    align-items: center;
                    width: 368px;
                    height: 4px;
                    margin: 0 12px;
                    border-radius: 20px;
                    background-color: rgba(13, 111, 227, 0.2);

                    .fill-line{
                        height: 6px;
                        background: #0D6FE3;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .sort-by{
        display: flex;
        line-height: 24px;

        .sort-by-p{
            color: #8594A8;
        }

        label{
            margin-left: 25px;
            color: #334D6E;
            cursor: pointer;

            input{
                display: none;
            }

            input:checked + p{
                font-weight: 600;
                border-bottom: 1px dashed #334D6E;
            }
        }
    }

    .sort-by-mobile{
        display: none;
    }

    .review{
        margin: 24px 0;
        padding: 24px;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;

        .user-and-rating{
            display: flex;
            justify-content: space-between;

            .user{
                display: flex;
                align-items: center;

                img{
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .name-and-date{
                    margin-left: 12px;

                    .name{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #334D6E;
                        cursor: pointer;
                    }

                    .date{
                        font-size: 14px;
                        line-height: 20px;
                        color: #8594A8;
                    }

                    app-rating-stars{
                        display: none;
                    }
                }
            }

            .rating{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }
        }

        .title-comment{
            margin: 24px 0 12px 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #334D6E;
        }

        .comment{
            font-size: 16px;
            line-height: 24px;
            color: #8594A8;
        }

        hr{
            margin: 16px 0 12px 0;
            height: 1px;
            background-color: #C3CBD6;
            border: none;
        }

        .button-reply-and-likes-and-dislikes{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button-reply{
            
                p{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #334D6E;
                    border-bottom: 1px dashed #334D6E;
                    display: inline-block;
                    cursor: pointer;
        
                    &:active{
                        opacity: .8;
                    }

                    &.amount-of-comments{
                        margin-right: 23px;
                    }
                }
            }
    
            .likes-and-dislikes{
                display: flex;

                p{
                    display: flex;
                    align-items: center;
                    margin: 0 8px;
                    padding: 0 13px;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    color: #46AA32;
                    background: linear-gradient(0deg, rgba(70, 170, 50, 0.2), rgba(70, 170, 50, 0.2)), #FFFFFF;
                }
    
                mat-icon{
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    cursor: pointer;
    
                    &.like{
                        color: #46AA32;
                    }
    
                    &.dislike{
                        color: #EA4545;
                    }
                }
            }
        }

        .reply-and-send-replies{

            .reply-and-send{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                textarea{
                    width: 100%;
                    height: 92px;
                    margin: 24px 0 12px 0;
                    padding: 12px;
                    background-color: #FFFFFF;
                    border: 1px solid #C3CBD6;
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 20px;
                }

                button{
                    width: 138px;
                    height: 40px;
                    background-color: #0D6FE3;
                    border-radius: 3px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                }
            }

            .replies{
                padding-top: 8px;

                .reply{
                    margin-top: 16px;
    
                    .reply-user{
                        display: flex;
                        align-items: center;
        
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
        
                        .reply-name-and-date{
                            margin-left: 12px;
        
                            .reply-name{
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 20px;
                                color: #334D6E;
                                cursor: pointer;
                            }
        
                            .reply-date{
                                font-size: 14px;
                                line-height: 20px;
                                color: #8594A8;
                            }
                        }
                    }
    
                    .reply-comment{
                        display: flex;
                        margin-top: 12px;
    
                        hr{
                            width: 1px;
                            height: 40px;
                            margin: 0 32px 0 20px;
                            border: none;
                            background-color: #C3CBD6;
                        }
    
                        p{
                            max-width: 650px;
                            font-size: 14px;
                            line-height: 20px;
                            color: #8594A8;
                        }
                    }
                }
            }
        }
    }

    .button-show-more{
        width: 100%;
        height: 48px;
        margin-top: 8px;
        background-color: #FFFFFF;
        border: 1px solid #C3CBD6;
        border-radius: 3px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #334D6E;
    }
}

@media screen and (max-width: 1275px) {
    .container{
        width: 720px;

        .statistics{
            justify-content: space-between;
            width: 720px;
            padding: 0 24px;

            .donut{
                margin: -5px 0px 0 -17px;
            }

            .lines{

                .line-block{

                    .line{
                        width: 316px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        margin: 23px 0 40px 0;

        .arrow{
            width: 28px;
            height: 28px;
            right: 16px;
            font-size: 28px;
        }

        .header{
            margin: 0 1rem;

            p{
                font-size: 24px;
                line-height: 28px;
            }
        }

        .statistics{
            width: 100%;
            height: 148px;
            margin: 24px 0;
            padding: 0 16px;

            .donut{
                width: 96px;
                min-width: 96px;
                max-width: 96px;
                height: 101px;
                margin: -5px -12px 0 -12px;
            }

            .statistics-rating-and-based-on-comments{
                top: 34px;
                left: 32px;

                .statistics-rating{
                    font-size: 24px;
                    line-height: 28px;
                }

                .based-on-comments{
                    display: none;
                }
            }

            .lines{
                width: 100%;
                margin-left: 8px;

                .line-block{
                    margin: 2px 0;

                    .line{
                        width: 100%;
                        margin: 0 8px;
                    }

                    p{
                        min-width: max-content;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }

        .sort-by{
            display: none;
        }

        .sort-by-mobile{
            display: block;
            width: -webkit-fill-available;
            height: 52px;
            margin: 0 1rem;
            margin-top: 12px;
            border: 1px solid #C3CBD6;
            border-radius: 4px;

            legend{
                margin-left: 8px;
                padding: 0 4px;
                font-size: 12px;
                line-height: 18px;
                color: #8594A8;
            }

            select{
                width: 100%;
                height: 26px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;
                border: none;
                padding: 0 12px;
                background-color: #F7F9FB;
                background-image: url(../../../../../assets/images/select-arrow.performersPage.png);
                background-repeat: no-repeat;
                background-position: right;
                background-position-x: calc(100% - 18px);

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:focus{
                    outline: none;
                }
            }
        }

        .review{
            margin: 16px;
            padding: 1rem;

            .user-and-rating{
    
                .user{
                    align-items: unset;
    
                    .name-and-date{
    
                        .name{
                            font-size: 14px;
                            line-height: 20px;
                        }
    
                        .date{
                            font-size: 12px;
                            line-height: 18px;
                        }

                        app-rating-stars{
                            display: block;
                        }
                    }
                }
    
                .rating{
                    display: none;
                }
            }

            .title-comment{
                margin: 18px 0 7px 0;
                font-size: 16px;
                line-height: 24px;
            }

            .comment{
                font-size: 14px;
                line-height: 20px;
            }

            .button-reply-and-likes-and-dislikes{
                align-items: unset;
                justify-content: unset;
                flex-direction: column;

                .likes-and-dislikes{
                    order: 1;
                }

                .button-reply{
                    margin-top: 11px;
                    order: 2;
                }
            }

            .reply-and-send-replies{

                .reply-and-send{

                    textarea{
                        margin: 14px 0 12px 0;
                    }

                    button{
                        width: 100%;
                    }
                }

                .replies{

                    .reply{

                        .reply-user{
        
                            .reply-name-and-date{
        
                                .reply-date{
                                    font-size: 12px;
                                    line-height: 18px;
                                }
                            }
                        }

                        .reply-comment{

                            hr{
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .button-show-more{
            width: -webkit-fill-available;
            margin: 8px 1rem 0 1rem;
        }
    }
}