<div class="container">

    <div class="header">
        <p>Отзывы <span>135</span></p>
    </div>

    <div class="statistics">
        <svg width="100%" height="100%" viewBox="0 0 45 45" class="donut">
            <circle class="donut-hole" cx="21" cy="24" r="15.91549430918954" fill="#fff"></circle>
            <circle class="donut-ring" cx="21" cy="24" r="15.91549430918954" fill="transparent" stroke="#CFE2F9" stroke-width="1.7"></circle>
            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#0D6FE3" stroke-width="3" stroke-dasharray="85 100" stroke-dashoffset="0"></circle>
        </svg>

        <div class="lines">
            <div class="line-block" *ngFor="let wee of wees">
                <p class="rating-number">{{ wee }}</p>

                <div class="line">
                    <div [ngStyle]="{'width': showPercentInLine(wee) + '%'}" class="fill-line"></div>
                </div>

                <p><span>{{ getAmountOfComments(wee) }}</span> отзывов</p>
            </div>
        </div>
    </div>

    <div class="sort-by">
        <p class="sort-by-p">Сортировать по:</p>

        <label>
            <input type="radio" name="sortByReviews" checked>
            <p>сначала новые</p>
        </label>

        <label>
            <input type="radio" name="sortByReviews">
            <p>сначала положительные</p>
        </label>

        <label>
            <input type="radio" name="sortByReviews">
            <p>сначала отрицательные</p>
        </label>
    </div>

    <fieldset class="sort-by-mobile">
        <legend>Сортировка</legend>

        <select>
            <option value="">Сначала новые</option>
            <option value="">Сначала положительные</option>
            <option value="">Сначала отрицательные</option>
        </select>
    </fieldset>

    <div [ngStyle]="{'border-color': getReviewBorderColor(review.rating), 'background': getReviewBackground(review.rating)}" *ngFor="let review of reviews" class="review">

        <div class="user-and-rating">
            <div class="user">
                <img [src]="review.avatar">

                <div class="name-and-date">
                    <p class="name">{{ review.name }}</p>
                    <p class="date">{{ review.createdAt | date : 'dd MMMM yyyy hh:mm' }}</p>
                    <app-rating-stars [stars]="review.rating"></app-rating-stars>
                </div>
            </div>

            <div class="rating">
                <p>{{ review.rating }}</p>

                <div class="stars"></div>
            </div>
        </div>

        <p class="title-comment">{{ review.titleComment }}</p>

        <p class="comment">{{ review.comment }}</p>

        <hr>

        <div class="button-reply-and-likes-and-dislikes">
            <div class="button-reply">
                <p (click)="review.showReplies = true" *ngIf="review.replies && !review.showReplies" class="amount-of-comments">{{ review.replies.length }} комментариев</p>

                <p (click)="review.showReplies = false" *ngIf="review.showReplies" class="amount-of-comments">Скрыть комментарии</p>

                <p (click)="review.showReplies = true">Ответить</p>
            </div>

            <div class="likes-and-dislikes">
                <mat-icon class="like">thumb_up</mat-icon>
                <p *ngIf='review.likes > 0'>{{ review.likes }}</p>
                <mat-icon class="dislike">thumb_down</mat-icon>
                <p *ngIf='review.dislikes > 0'>{{ review.dislikes }}</p>
            </div>
        </div>

        <div *ngIf="review.showReplies" class="reply-and-send-replies">

            <div class="reply-and-send">
                <textarea placeholder="Ваш комментарий"></textarea>
                <button>Отправить</button>
            </div>

            <div class="replies">

                <div *ngFor="let reply of review.replies" class="reply">
                    <div class="reply-user">
                        <img [src]="reply.avatar">

                        <div class="reply-name-and-date">
                            <p class="reply-name">{{ reply.name }}</p>
                            <p class="reply-date">{{ reply.createdAt | date : 'dd MMMM yyyy hh:mm' }}</p>
                        </div>
                    </div>

                    <div class="reply-comment">
                        <hr>
                        <p>{{ reply.text }}</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <button class="button-show-more">Показать еще 10 отзывов</button>

</div>