<div class="filter" [ngClass]="toggle ? 'show' : ''">
    <div class="filter-title" (click)='toggle = !toggle'>
        <p>Местоположение</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="filter-inner">
        <div class="filter-inner-location">
            <ng-container *ngFor='let filter of locationFilters'>
                <fieldset *ngIf='filter.selector.length > 1'>
                    <legend>{{filter.title}}</legend>
                    <select (change)='setFilter($event.target.value, filter.field)' >
                        <ng-container *ngFor="let point of filter.selector">
                            <option [value]="point.value" [selected]='filter.checked.includes(point.value)'>{{point.text}}</option>
                        </ng-container>
                    </select>
                </fieldset>
            </ng-container>
        </div>
    </div>
</div>