<div class="filter" [ngClass]="toggle ? 'show' : ''">
    <div class="filter-title" (click)='toggle = !toggle'>
        <p>Местоположение</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="filter-inner">
        <div class="filter-inner-location">
            <fieldset>
                <legend>Город</legend>
                <select (change)='setCity($event)' >
                    <ng-container *ngFor="let city of filter.selector">
                        <option [value]="city.value" [selected]='filter.checked.includes(city.value)'>{{city.text}}</option>
                    </ng-container>
                </select>
            </fieldset>

            <fieldset *ngIf='stations.length'>
                <legend>Район</legend>
                <select>
                    <option value="Адмиралтейский">Адмиралтейский</option>
                    <option value="Василеостровский">Василеостровский</option>
                    <option value="Выборгский">Выборгский</option>
                    <option value="Калининский">Калининский</option>
                    <option value="Кировский">Кировский</option>
                    <option value="Колпинский">Колпинский</option>
                    <option value="Красногвардейский">Красногвардейский</option>
                    <option value="Красносельский">Красносельский</option>
                </select>
            </fieldset>

            <fieldset *ngIf='stations.length'>
                <legend>Метро</legend>
                <select>
                    <ng-container *ngFor="let station of stations">
                        <option [value]="station.title">{{station.title}}</option>
                    </ng-container>
                </select>
            </fieldset>

            <fieldset>
                <legend>Радиус поиска</legend>
                <select name="">
                    <option value="">1км</option>
                    <option value="">5км</option>
                    <option value="">10км</option>
                    <option value="">20км</option>
                </select>
            </fieldset>
        </div>
    </div>
</div>