.container{
    position: relative;
    width: 776px;
    margin: 8px auto;

    .arrow{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        //transform: rotate(180deg);
        font-size: 40px;
        color: #90A0B7;
        transition: all .2s;
    }

    .header{
        position: relative;
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
        z-index: 6;
        cursor: pointer;
    }

    .description{

        .description-elem{
            display: flex;
            min-height: 54px;
            padding: 16px 0 15px 0;
            
            .param{
                display: flex;
                align-items: center;
                min-width: 300px;
                height: 24px;
                margin-left: 3px;

                p{
                    margin-left: 11px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #334D6E;
                }
            }

            .field{
                display: flex;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }
        }

        hr{
            border: none;
            height: 1px;
            background-color: #C3CBD6;
        }
    }

    .additional-info{
        margin: 8px 0 24px 0;
        font-size: 16px;
        line-height: 24px;
        color: #8594A8;
    }

    .show-full-additional-info{
        display: none;
    }

    .tags{
        display: flex;

        .tag{
            display: flex;
            align-items: center;
            height: 56px;
            margin-right: 16px;
            padding: 18px 16px 18px 18px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 40px rgba(71, 84, 101, 0.05);
            border-radius: 4px;

            p{
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #334D6E;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        width: 720px;
        margin: 64px auto 8px auto;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        padding: 0 1rem;
        margin: 40px auto 22px auto;

        .header{
            margin-bottom: 8px;
            font-size: 24px;
            line-height: 28px;
        }

        .description{
    
            .description-elem{
                display: block;
                padding: 16px 0 17px 0;

                .param{
                    min-width: auto;
                    margin-bottom: 10px;
                }
    
                .field{
                    margin-right: 8px;
                }
            }
        }

        .additional-info{
            margin: 8px 8px 5px 0;
        }

        .show-full-additional-info{
            display: block;
            max-width: max-content;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #0D6FE3;
            border-bottom: 1px dashed #0D6FE3;
            cursor: pointer;

            &:active{
                opacity: .8;
            }
        }

        .tags{
            display: block;

            .tag{
                width: 100%;            
                padding: 18px 17px 18px 3px;
                box-shadow: none;
                border-radius: unset;
                border-top: 1px solid #C3CBD6;
                background-color: unset;
            }
        }
    }
}