<div class="container">

    <mat-icon class="edit">edit</mat-icon>

    <div class="logo">
        <img src="../../../../../assets/images/personal-area/logo.png">
        <div class="add-photo">
            <mat-icon>photo_camera</mat-icon>
        </div>
    </div>

    <p class="title">Архитектурное бюро ZROBYM Architects</p>

    <app-rating-stars [stars]="5"></app-rating-stars>

    <div class="statistics">
        <div class="statistic">
            <p>Выполнено заявок</p>
            <p class="statistic-count">356</p>
        </div>

        <div class="statistic">
            <p>Размещенные заявки</p>
            <p class="statistic-count">34</p>
        </div>

        <div class="statistic">
            <p>Отзывов</p>
            <p class="statistic-count">150</p>
        </div>

        <div class="statistic">
            <p>Оценки</p>
            <div class="likes-and-dislikes">
                <p><mat-icon class="likes">thumb_up</mat-icon>211</p>
                <p><mat-icon class="dislikes">thumb_down</mat-icon>4</p>
            </div>
        </div>
    </div>

    <button class="button-go-to-public-page">Перейти к публичной странице</button>

    <p class="share-link">Поделиться ссылку</p>

</div>