<div class="container">
    <h1 class="services-header">Услуги</h1>
    <div class="services-cards">

        <div *ngFor="let category of catSrv.getNodeCategory() | async" class="services-card">
            <div class="service-container-alignment">
                <p [routerLink]='"service-catalog/" + category.id' class="service-title">{{ category.title }}</p>
    
                <div class="some-of-services" *ngIf='catSrv.getNodeCategory(category.id) | async as subcat'>
                    <ng-container *ngFor='let sub of subcat'>
                        <p [routerLink]='"service-catalog/" + sub.id'>{{ sub.title }}</p>
                    </ng-container>
                </div>                
            </div>

            <p [routerLink]='"service-catalog/" + category.id' class="showAllServices">Показать все услуги ({{ (catSrv.getNodeCategory(category.id) | async).length}})</p>
        </div>
    </div>
</div>