:host{
    background-color: #F7F9FB;
}

.container-header-filters-and-sorting{
    width: 100%;
    height: 48px;
    display: none;
}

.container{
    margin: auto;
    display: flex;
    background-color: #F7F9FB;


    .filters{
        width: 300px;
        border-right: 1px solid #C3CBD6;
        background-color: #fff;
        transition: all .2s;
        
        .filter{
            width: 100%;
            padding: 15px 32px 16px 32px;
            border-bottom: 1px solid #C3CBD6;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;

            .field-click{
                width: 100%;
                height: 56px;
                position: absolute;
                top: 0;
                left: 0;

                &:hover{
                    cursor: pointer;
                }
            }

            .filter-title{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p{
                    color: #334D6E;
                    font-weight: 700;
                    line-height: 24px;
                }

                svg{
                    margin-right: 6px;
                    transition: all 0.2s;
                }
            }

            .filter-inner{
                display: none;

                .filter-inner-location{
                    margin-left: -2px;
                    fieldset{
                        width: 100%;
                        height: 52px;
                        margin-top: 12px;
                        border: 1px solid #C3CBD6;
                        border-radius: 4px;
    
                        legend{
                            margin-left: 8px;
                            padding: 0 4px;
                            font-size: 12px;
                            line-height: 18px;
                            color: #8594A8;
                        }
    
                        select{
                            width: 100%;
                            height: 26px;
                            font-size: 14px;
                            line-height: 20px;
                            border: none;
                            position: relative;
                            padding: 0 12px;
                            background-image: url(../../../assets/images/select-arrow.performersPage.png);
                            background-repeat: no-repeat;
                            background-position: right;
                            background-position-x: calc(100% - 18px);
                        
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
    
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }

                .filter-inner-category{
                    .search-by-categories{
                        width: 100%;
                        height: 44px;
                        margin-top: 12px;
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid #C3CBD6;
                        border-radius: 4px;

                        input{
                            width: 100%;
                            height: 100%;
                            border: none;
                            border-radius: 5px;
                            padding: 0 12px;
                            font-size: 14px;
                        }

                        button{
                            min-width: 44px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #fff;
                            border-radius: 5px;
                        }
                    }

                    .checkboxes-lists{

                        .checkboxes-list{
                            color: #334D6E;
                            margin-top: 16px;

                            .checkboxes-list-header{
                                width: 100%;
                                display: flex;
                                align-items: center;

                                &:hover{
                                    cursor: pointer;
                                }

                                svg{
                                    margin: 0 10px 0 6px;
                                    transform: rotate(-90deg);
                                    transition: all .2s;
                                }

                                p{
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                            }

                            .checkboxes{
                                display: none;

                                label{
                                    display: flex;
                                    align-items: center;
                                    margin: 12px 0 0 28px;

                                    input{
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 8px;
                                        border: 1px solid #C3CBD6;
                                        border-radius: 2px;
                                    }

                                    p{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .checkboxes-reset{
                            width: 63px;
                            margin-top: 12px;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 24px;
                            color: #0D6FE3;
                            border-bottom: 1px dashed #0D6FE3;

                            &:hover{
                                cursor: pointer;
                            }

                            &:active{
                                opacity: .8;
                            }
                        }
                    }
                }

                .filter-inner-rating{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .rating-circle .rating-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .rating-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .rating-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }

                    .rating-reset{
                        width: 63px;
                        margin-top: 12px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #0D6FE3;
                        border-bottom: 1px dashed #0D6FE3;

                        &:hover{
                            cursor: pointer;
                        }

                        &:active{
                            opacity: .8;
                        }
                    }
                }

                .filter-inner-price{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 2px;
                        }

                        p{
                            font-size: 14px;
                            color: #334D6E;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                
                .filter-inner-discount{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .discount-circle .discount-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .discount-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .discount-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .filter-inner-positive-reviews{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .positive-reviews-circle .positive-reviews-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .positive-reviews-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .positive-reviews-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .filter-inner-contract{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .contract-circle .contract-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .contract-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .contract-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .filter-inner-type-of-profile{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 2px;
                        }

                        p{
                            font-size: 14px;
                            color: #334D6E;
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .filter-inner-order-in-progress{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .order-in-progress-circle .order-in-progress-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .order-in-progress-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .order-in-progress-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .filter-inner-activity-online{
                    label{
                        display: flex;
                        align-items: center;
                        margin-top: 12px;
                        font-size: 14px;
                        color: #334D6E;

                        &:hover{
                            cursor: pointer;
                        }

                        input{
                            display: none;
                        }

                        input:checked + .activity-online-circle .activity-online-circle-inner{
                            background-color: #0D6FE3;
                        }

                        .activity-online-circle{
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                            border: 1px solid #C3CBD6;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .activity-online-circle-inner{
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                            }
                        }

                        p{
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }

        .filter-header{
            &:hover{
                cursor: auto;
            }

            p{
                color: #8594A8;
                font-weight: 700;
                line-height: 24px;
            }

            .filter-header-close-filter{
                display: none;
                width: 88px;
                height: 100%;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .filters-buttons-reset-apply{
            display: none;
        }
    }


    .performers{
        padding: 34px 116px 24px 32px;
        margin: auto;
        max-width: 1140px;
        
        .path{
            font-size: 14px;
            display: flex;
            align-items: center;

            a{
                color: #334D6E;
            }

            svg{
                margin: 0 8px;
            }

            span{
                color: #8594A8;
            }
        }
        
        .number-of-found{
            margin: 16px 0 9px 0;
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            color: #334D6E;
        }

        .selected-categories{
            font-size: 16px;
            line-height: 24px;
            color: #334D6E;
            letter-spacing: 0.01em;
        }

        .tags-search{
            margin: 17px 0px 17px 0px;
            display: none;
            align-items: center;
            font-weight: 600;

            .tag-search{
                margin-right: 12px;
                padding: 7px 6px 6px 7px;
                display: flex;
                align-items: center;
                background-color: rgba(13, 111, 227, 0.1);
                border: 2px solid #0D6FE3;
                border-radius: 4px;

                p{
                    font-size: 14px;
                    margin-right: 8px;
                    color: #334D6E;
                }

                svg{

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .reset-all-tags-search{
                font-size: 14px;
                line-height: 23px;
                color: #0D6FE3;
                border-bottom: 1px dashed #0D6FE3;
                margin: 0px 0 0px 13px;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .map{
            width: 100%;
            height: 360px;
            margin: 24px 0 40px 0;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            background-image: url(../../../assets/images/map-bg.performersPage.jpg);
            background-repeat: no-repeat;
            background-position-x: calc(-40px);
            background-position-y: calc(-36px);

            .map-field-click{
                display: none;
            }

            .map-title{
                display: none;
            }

            .map-img{
                background-image: url(../../../assets/images/map-bg.performersPage.jpg);
                background-repeat: no-repeat;
                background-position-x: calc(-40px);
                background-position-y: calc(-36px);
                display: none;
            }
        }

        .sort-by{
            display: flex;
            line-height: 24px;

            .sort-by-p{
                color: #8594A8;
            }

            label{
                margin-left: 25px;
                color: #334D6E;

                input{
                    display: none;
                }

                p:hover{
                    cursor: pointer;
                }

                input:checked + p{
                    font-weight: 600;
                    border-bottom: 1px dashed #334D6E;
                }
            }
        }

        .performers-card{
            height: 346px;
            margin: 24px 0;
            padding: 24px;
            display: flex;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

            .gallery{
                width: 240px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .big-image{
                    width: 240px;
                    height: 240px;

                    img{
                        border-radius: 2px;
                    }
                }

                .small-images{
                    display: flex;
                    justify-content: space-between;

                    img{
                        width: 74px;
                        height: 50px;
                        border-radius: 2px;
                    }
                }

                .arrow-left-block{
                    width: 80px;
                    height: 81%;
                    margin: -1px 0 0px -1px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:hover{
                        cursor: pointer;
                    }

                    .arrow-left{
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        top: 104px;
                        left: 16px;
                        background-color: #0D6FE3;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .arrow-right-block{
                    width: 80px;
                    height: 81%;
                    margin: -1px 1px 0px 0px;
                    position: absolute;
                    top: 0;
                    right: 0;

                    &:hover{
                        cursor: pointer;
                    }

                    .arrow-right{
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        top: 104px;
                        right: 16px;
                        background-color: #0D6FE3;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .logo-description-statistics-block{
                display: flex;
                
                .logo{
                    width: 56px;
                    margin: 0 16px;

                    img{
                        border-radius: 50%;
                        border: 1px solid #C3CBD6;
                        position: relative;
                        top: -2px;
                        left: -2px;
                    }
                }

                .description{
                    width: 320px;
                    color: #334D6E;
                    font-size: 14px;
                    padding-top: 3px;

                    .description-header{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        letter-spacing: 0.004em;
                    }

                    .description-rating{
                        color: #8594A8;
                        font-size: 14px;
                        margin: 5px 0 16px 0;
                        display: flex;

                        p{
                            margin-right: 5px;
                        }

                        .stars{
                            svg{
                                margin-right: 2px;
                            }
                        }
                    }

                    .description-location{

                        &:hover{
                            cursor: pointer;
                        }

                        p{
                            text-decoration: underline;
                        }
                    }

                    .description-elem{
                        margin: 8px 0;
                        display: flex;
                        align-items: center;

                        svg{
                            margin: -1px 7px 2px 1px;
                        }
                    }

                    .description-info{
                        display: flex;
                        color: #8594A8;

                        svg{
                            margin: 3px 0px 0px 2px;
                        }
                    }
                }

                .statistics{
                    width: 256px;
                    height: 298px;
                    margin-left: 24px;
                    padding: 24px;
                    background-color: #F7F9FB;
                    border-radius: 2px;

                    hr{
                        height: 1px;
                        background-color: #C3CBD6;
                        margin: 11px 0;
                    }

                    .statistic{
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        color: #334D6E;

                        .value{
                            margin-right: 1px;
                            font-weight: 700;
                        }

                        .likes-and-dislikes{
                            display: flex;
                            align-items: center;

                            div{
                                margin-left: 12px;
                                display: flex;

                                svg{
                                    margin-right: 4px;
                                }
                            }

                            .dislikes{
                                svg{
                                    position: relative;
                                    top: 4px;
                                }
                            }
                        }
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        button{
                            height: 48px;
                            margin: 24px 0 8px 0;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0.01em;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .write-message{
                            flex: 0 0 71%;
                            background-color: #0D6FE3;
                            color: #fff;

                            svg{
                                margin-right: 11px;
                            }
                        }

                        .add-to-favorites{
                            flex: 0 0 24%;
                            background-color: #F7F9FB;
                            border: 1px solid #C3CBD6;
                        }
                    }

                    .online{
                        display: flex;
                        justify-content: center;
                        font-size: 12px;
                        line-height: 18px;
                        color: #8594A8;
                    }
                }
            }
        }

        .performers-not-found{
            margin: 206px auto;
            display: none;
            //display: flex;
            flex-direction: column;
            align-items: center;

            .performers-not-found-p{
                margin: 38px 0 4px 0;
                font-weight: bold;
                line-height: 24px;
                color: #8594A8;
            }

            .try-adjust-filter{
                font-size: 12px;
                line-height: 18px;
                color: #8594A8;
            }
        }

        .pager{
            width: 512px;
            height: 56px;
            margin: 56px auto;
            border: 1px solid #C3CBD6;
            border-radius: 5px;
            display: flex;

            .pager-item{
                width: 100%;
                color: #334D6E;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #C3CBD6;

                &:hover{
                    cursor: pointer;
                }
                
                &.item-end{
                    border: none;
                }
            }
        }
    }


    .module-window-map-location{
        max-width: 776px;
        padding: 24px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        border-radius: 5px;
        z-index: 1200;

        p{
            margin-bottom: 16px;
            font-weight: 600;
            color: #334D6E;
        }

        .module-window-map-location-map{
            width: 728px;
            height: 360px;
            background-image: url(../../../assets/images/map-bg.performersPage.jpg);
            background-repeat: no-repeat;
            background-position-x: calc(-40px);
            background-position-y: calc(-36px);
        }

        svg{
            position: absolute;
            top: 19px;
            right: 19px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 997;
        background-color: #1B2F54;
        opacity: 0.6;
        display: none;
    }

}



@media screen and (max-width:1350px) {

    .container{

        .filters{
            max-width: 300px;
            width: auto;

            .filter{
                max-width: 300px;
                padding: 16px 16px;

                .field-click{
                    z-index: 999;
                }

                .filter-title{

                    p{
                        margin-right: 10px;
                    }
                }
            }
        }

        .performers{
            padding: 34px 0 24px 0;
        }
    }

}








@media screen and (max-width:1275px) {

    .container-header-filters-and-sorting{
        display: block;
    }

    .container{

        .filters{
            width: 300px;
            position: fixed;
            top: 0;
            left: -300px;
            overflow-y: auto;
            height: 100vh;
            background-color: #fff;
            z-index: 998;

            &::-webkit-scrollbar{
                width: 0;
                height: 0;
            }

            .filter{
                padding: 16px 32px;
            }

            .filter-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: relative;
    
                .filter-header-close-filter{
                    display: flex;
                }
            }
        }

        .performers{
            max-width: 1275px;
            padding: 34px 0px 24px 0;
            margin: auto;

            .selected-categories{
                display: none;
            }

            .tags-search{
                display: flex;
            }

            .map{
                width: 720px;
                height: 360px;
                margin: 24px 0 28px 0;
            }

            .sort-by{
                display: none;
            }

            .performers-card{
                width: 720px;
                height: auto;
                padding: 24px 24px 24px 25px;
                display: block;
                
                .gallery{
                    width: auto;
                    height: 160px;
                    margin: 3px 0 25px 0;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;

                    .big-image{
                        width: 240px;
                        height: 160px;

                        img{
                            width: 240px;
                            height: 160px;
                        }
                    }

                    .small-images{

                        img{
                            width: 240px;
                            height: 160px;
                            margin-left: 16px;
                        }
                    }
                        
                    .arrow-left-block{
                        display: none;
                        
                        .arrow-left{
                            top: 64px;
                            left: 0;
                        }
                    }

                    .arrow-right-block{
                        width: 128px;
                        height: 100%;
                        margin: 0;

                        .arrow-right{
                            top: 64px;
                            right: 0;
                        }
                    }
                }

                .logo-description-statistics-block{

                    .logo{
                        margin: 0 16px 0 0;
                    }
                }
            }
        }
    }

}







@media screen and (max-width:767px) {

    .container{

        .filters{
            width: 100vw;
            max-width: 100%;
            left: -100%;
            padding-bottom: 72px;

            .filter{
                max-width: 100vw;

                .field-click{
                    width: 100%;
                }
            }

            .filters-buttons-reset-apply{
                width: 100%;
                height: 72px;
                padding: 12px 16px;
                justify-content: space-between;
                position: fixed;
                bottom: 0;
                left: 0;
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                font-size: 12px;
                line-height: 18px;
                z-index: 1009;

                .filters-buttons-reset{
                    flex: 0 0 47%;
                    height: 48px;
                    border: 1px solid #C3CBD6;
                    border-radius: 3px;
                    background-color: #fff;
                }

                .filters-buttons-apply{
                    flex: 0 0 47%;
                    height: 48px;
                    border-radius: 3px;
                    background-color: #0D6FE3;
                    color: #fff;
                }
            }
        }

        .performers{
            max-width: 767px;

            .number-of-found{
                max-width: 288px;
                font-size: 24px;
                line-height: 28px;
            }

            .tags-search{
                display: none;
            }

            .map{
                width: 288px;
                height: auto;
                margin: 14px 0px 14px 0;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-image: none;

                .map-field-click{
                    display: block;
                    width: 288px;
                    height: 48px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:hover{
                        cursor: pointer;
                    }
                }

                .map-title{
                    width: 288px;
                    height: 48px;
                    padding: 0 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    svg{
                        margin: 0 4px;
                    }
                }

                .map-img{
                    width: 288px;
                    height: 317px;
                    border-radius: 4px;
                }
            }

            .performers-card{
                width: 288px;
                padding: 16px;
                position: relative;
                margin: 16px 0 16px 0;

                .gallery{
                    display: none;
                }

                .logo-description-statistics-block{
                    height: 100%;
                    display: block;

                    .logo{
                        position: absolute;
                        top: 18px;
                        left: 18px;

                        img{
                            width: 32px;
                            height: 32px;
                        }
                    }

                    .description{
                        width: auto;

                        .description-elem{
                            margin: 8px 0 0 0;
                        }

                        .description-header{
                            width: 184px;
                            position: relative;
                            left: 44px;
                            top: -3px;
                        }

                        .description-rating{
                            width: 184px;
                            position: relative;
                            left: 44px;
                            top: -3px;
                        }

                        .description-location{
                            width: 220px;
                            padding-top: 16px;
                            padding-left: 12px;
                            margin-top: -4px;
                            border-top: 1px solid #C3CBD6;

                            svg{
                                margin: 0;
                                position: relative;
                                top: -10px;
                                left: -9px;
                            }
                        }

                        .description-metro, .description-contract, .description-face, .description-info{
                            display: none;
                        }
                    }

                    .statistics{
                        height: auto;
                        margin: 0;
                        padding: 0;
                        background-color: #fff;

                        hr{
                            display: none;
                        }

                        .statistic{
                            display: none;
                        }

                        .buttons{

                            .write-message{
                                flex: 0 0 77%;
                            }

                            .add-to-favorites{
                                flex: 0 0 19%;
                            }
                        }
                    }
                }
            }

            .pager{
                width: 112px;

                .pager-item{
                    display: none;
                }

                .arrow-pager{
                    display: flex;
                }
            }
        }
    }

}