.container{
    position: relative;
    width: 776px;
    margin: 64px auto;

    .arrow{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        font-size: 40px;
        color: #90A0B7;
        transition: all .2s;
    }

    .header{
        position: relative;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #334D6E;
        z-index: 6;
        cursor: pointer;
    }

    .documents{
        display: flex;

        .document{
            display: flex;
            align-items: center;
            margin-right: 16px;
            padding: 16px;
            background-color: #FFFFFF;
            border: 1px solid #C3CBD6;
            border-radius: 4px;
            cursor: pointer;

            &:active{
                opacity: .8;
            }

            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                margin-right: 12px;
                background-color: rgb(13,111,227,.1);
                border-radius: 50%;
            }

            .title{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #334D6E;
            }

            .format-and-size{
                display: flex;
                font-size: 14px;
                line-height: 20px;
                color: #8594A8;
            }
        }
    }
}

@media screen and (max-width: 1275px) {
    .container{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 288px;
        margin: 40px auto;

        .arrow{
            width: 28px;
            height: 28px;
            font-size: 28px;
        }

        .header{
            margin-bottom: 16px;
            font-size: 24px;
            line-height: 28px;
        }

        .documents{
            display: block;

            .document{
                width: max-content;
                margin: 12px 0 0 0;
            }
        }
    }
}