<div class="container">



    <p class="header">Документы</p>



    <div class="documents">
        <div *ngFor="let document of documents" class="document">

            <div class="image">
                <img src="../../../../../assets/images/performer/document.png">
            </div>

            <div class="title-and-format-and-size">
                <p class="title">{{ document.title }}</p>
                
                <p class="format-and-size">{{ document.format }}, {{ document.size }} KB</p>
            </div>

        </div>
    </div>





</div>