<ng-container *ngIf="isTablet">
    <div class="container-reply-to-order" [ngClass]="shrinkHeader ? 'fixed' : ''">
        <div class="block">
            <div class="account">
                <div class="avatar"></div>
    
                <div>
                    <p class="name">ООО “Вектор и партнеры”</p>
                    <p class="was-online">Был на сайте два дня назад</p>
                </div>
            </div>
        
            <div class="buttons">
                <button class="write-message" (click)="toggleOverlay = true">
                    <mat-icon>email</mat-icon>Ответить на заявку
                </button>
    
                <button class="add-to-favorites" (click)="isFavorite = !isFavorite">
                    <img [src]="!isFavorite ? '/assets/images/performers/bookmark-disabled.png' : '/assets/images/performers/bookmark-enabled.png'">
                </button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isMobile">
    <div class="container-reply-to-order-mobile" [ngClass]="shrinkHeader ? 'fixed' : ''">
        <button class="write-message" (click)="toggleOverlay = true"><mat-icon>email</mat-icon>Ответить</button>
        <button class="add-to-favorites" (click)="isFavorite = !isFavorite">Добавить в избранное</button>
    </div>
</ng-container>

<div class="container">
    <div class="main-content">
        <div class="breadcrumbs">
            <p>Главная</p>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <p>Каталог заявок</p>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <p>Дизайн-проект частного дома</p>
        </div>

        <p class="title">Дизайн-проект частного дома <span>250 000 ₽</span></p>

        <p class="description">В рамках кворка, напишу 6000 символов для вашего сайта. Если вашему сайту нужны качественные и интересные тексты, которые смогут заставить. В рамках кворка, напишу 6000 символов для вашего сайта. Если вашему сайту.</p>

        <div class="content-info basic-info-margin">
            <div class="info-elem">
                <p>Вид услуг</p>
                <p class="info-elem-value">Монтаж электрики</p>
            </div>

            <div class="info-elem">
                <p>Местоположение</p>
                <p class="info-elem-value">г. Москва, Центральный р-он, ул. Новая, д. 15</p>
            </div>

            <div class="info-elem">
                <p>Срок выполнения</p>
                <p class="info-elem-value">до 25 сентября 2021 года</p>
            </div>

            <div class="info-elem">
                <p>Уровень цен</p>
                <p class="info-elem-value"><span class="segment" [ngStyle]="{'background': getBackground(segment), 'color': getColor(segment)}" *ngFor="let segment of segments">{{ segment }}</span></p>
            </div>

            <div class="info-elem">
                <p>Тип исполнителя</p>
                <p class="info-elem-value">Физическое лицо</p>
            </div>

            <div class="info-elem">
                <p>Статус заявки</p>
                <p class="info-elem-value">Активна</p>
            </div>
        </div>

        <p class="additional-info-title">Дополнительная информация по услуге “монтаж электрики”</p>

        <div class="content-info additional-info-margin">
            <div class="info-elem">
                <p>Работа по договору</p>
                <p class="info-elem-value">Да</p>
            </div>

            <div class="info-elem">
                <p>Материалы</p>
                <p class="info-elem-value">Предоставляет исполнитель</p>
            </div>

            <div class="info-elem">
                <p>Проживание на объекте</p>
                <p class="info-elem-value">Да</p>
            </div>
        </div>

        <div class="photos">
            <img class="photo" [src]="photo" *ngFor="let photo of photos">
        </div>

        <p class="published-on">Заявка опубликована 25.09.2020, 20:28 <span>[последние изменения: 07.03.2021, 20:33]</span></p>
    </div>

    <div class="profile">
        <div class="left-column">
            <div class="avatar"></div>
    
            <p class="name">ООО “Вектор и партнеры”</p>
    
            <p class="was-online">Был на сайте два дня назад</p>
        </div>

        <div class="right-column">
            <div class="info">
                <p>Контактное лицо</p>
                <p class="info-value">Константинов Иван Алексеевич</p>
            </div>
            
            <div class="info">
                <p>Телефон</p>
                <p class="info-value">8 987 234-22-31</p>
            </div>
            
            <div class="info">
                <p>Email</p>
                <p class="info-value">konstantinovivan@gmail.com</p>
            </div>
    
            <div class="buttons">
                <button class="write-message" (click)="toggleOverlay = true">
                    <mat-icon>email</mat-icon>Ответить на заявку
                </button>
    
                <button class="add-to-favorites" (click)="isFavorite = !isFavorite">
                    <img [src]="!isFavorite ? '/assets/images/performers/bookmark-disabled.png' : '/assets/images/performers/bookmark-enabled.png'">
                </button>
            </div>
    
            <p class="save-order">Сохранить заявку как PDF</p>
        </div>
    </div>
</div>

<div class="overlay" [ngStyle]="{display: toggleOverlay ? 'flex' : 'none'}">
    <ng-container *ngIf="!isSuccessfullySent; else successfullySent">
        <div class="modal-reply">
            <mat-icon class="close" (click)="toggleOverlay = false">clear</mat-icon>

            <p class="title">Ответить на заявку</p>

            <p class="description">Пользователь увидит Ваш ответ на заявку. Вы можете добавить сопроводительное сообщение для пользователя.</p>

            <fieldset>
                <legend>Ваше сообщение</legend>
                <textarea placeholder="Введите сообщение"></textarea>
            </fieldset>

            <button class="write-message" (click)="isSuccessfullySent = true"><mat-icon>email</mat-icon>Ответить на заявку</button>
        </div>
    </ng-container>

    <ng-template #successfullySent>
        <div class="successfully-sent">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40" cy="40" r="40" fill="#46AA32"/>
                <circle cx="40" cy="40" r="29.2683" fill="white" fill-opacity="0.3"/>
                <path d="M35.122 53.6909L25.0244 43.5934L29.626 38.9918L35.122 44.504L51.187 28.4227L55.7886 33.0243L35.122 53.6909Z" fill="white"/>
            </svg>

            <p class="title">Ваш ответ отправлен</p>

            <p class="description">Пользователь увидит Ваш ответ на заявку.</p>

            <button class="back-to-order" (click)="isSuccessfullySent = false; toggleOverlay = false">Вернуться к заявке</button>
        </div>
    </ng-template>
</div>