<div class="container">
    <p class="header">Принятые заявки <span>({{orders.length}})</span></p>
    <div *ngFor="let order of orders" class="order">
        <div class="title-and-price">
            <p class="title">{{ order.title }} <span>{{ order.price }}</span></p>
            <p class="price">{{ order.price }} ₽</p>
        </div>
        <p class="description">{{ order.description }}</p>
        <div class="info">
            <p><span class="param">Вид услуг:</span> {{order.type}}</p>
            <p><span class="param">Местоположение:</span> {{order.location}}</p>
            <p><span class="param">Бюджет:</span> {{order.budget}}</p>
            <p><span class="param">Срок выполнения:</span> {{order.deadline}}</p>
            <p *ngIf="order.segment">
                <span class="param last-param">Уровень цен:</span>
                <span class="segment" 
                    *ngFor="let segment of order.segment"
                    [ngStyle]="{'background': getBackground(segment), 'color': getColor(segment)}">
                    {{ segment }}</span>
            </p>
        </div>

        <div class="statistics-mobile">
            <p><mat-icon>camera_alt</mat-icon>{{ order.amountOfPhotos }}</p>
            <p><mat-icon>visibility</mat-icon>{{ order.views }}</p>
            <p *ngIf="order.reviews">
                <mat-icon>chat_bubble</mat-icon>
                {{ order.reviews.length }} откликов
            </p>
        </div>
        <hr>
        <div class="statistics">
            <p class="date">{{order.status}} {{order.createdAt | date : 'dd MMMM yyyy'}}</p>
            <div class="stats">
                <p><mat-icon>camera_alt</mat-icon>{{ order.amountOfPhotos }}</p>
                <p><mat-icon>visibility</mat-icon>{{ order.views }}</p>
                <p *ngIf="order.reviews">
                    <mat-icon>chat_bubble</mat-icon>
                    {{ order.reviews.length }} откликов
                </p>
            </div>
        </div>
    </div>
    <button class="all-accepted-orders">Все принятые заявки</button>
</div>