<ng-container *ngIf='service && service.title'>
        <div class="service-header">
            <p class="title-and-segments">
                <span class="title">{{ service.title }}</span>
                <span class="segment"
                    [ngStyle]="{'background': service.getBackground(segment), 'color': service.getColor(segment)}"
                    *ngFor="let segment of service.getSegments()">{{ segment }}
                </span>
            </p>

            <p class="price">{{ service.getMinPrice() }}</p>
        </div>
</ng-container>