
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$StroyDay-cleanCopy-primary: mat-palette($mat-indigo);
$StroyDay-cleanCopy-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$StroyDay-cleanCopy-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$StroyDay-cleanCopy-theme: mat-light-theme((
  color: (
    primary: $StroyDay-cleanCopy-primary,
    accent: $StroyDay-cleanCopy-accent,
    warn: $StroyDay-cleanCopy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($StroyDay-cleanCopy-theme);

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-ThinItalic";
    src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
}
@import "../node_modules/@runette/leaflet-fullscreen/dist/leaflet.fullscreen.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto-regular",
                 "Roboto-Black",
                 "Roboto-BlackItalic",
                 "Roboto-Bold",
                 "Roboto-BoldItalic",
                 "Roboto-Italic",
                 "Roboto-Light",
                 "Roboto-LightItalic",
                 "Roboto-Medium",
                 "Roboto-MediumItalic",
                 "Roboto-Thin", 
                 "Roboto-ThinItalic",
                 'Open Sans',
                 sans-serif;

    font-size: 16px;
    line-height: 20px;

    textarea{
        resize: none;
    }

    input:hover, select:hover, textarea:hover, button:hover{
        cursor: pointer;
    }

    input:focus, textarea:focus{
        cursor: text;
        outline: none;
    }

    button{
        border: none;
    }

    button:focus, select:focus{
        outline: none;
    }

    button:active{
        opacity: 0.8;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
