<ng-container *ngIf='category$ | async as category'>

    <app-breadcrumbs [breadcrumbs]='breadcrumbs'></app-breadcrumbs>
    <div class="container">
        <h1 class="service-catalog-header">{{category.title}}</h1>
        <div class="service-catalog-cards">

            <ng-container *ngFor="let category of catSrv.getNodeCategory(id) | async as subcat">
                <div (click)='goToCategory(category.id)' class="service-catalog-card">
                    <p class="title">{{ category.title }}</p>
                    <p class="amount-of-performers">380 исполнителей</p>
                    <mat-icon>arrow_forward</mat-icon>
                </div>
            </ng-container>
            
            <ng-container *ngFor="let service of srvSrv.getServicesByParentId(id) | async as subcat">
                <div [routerLink]="'/pages/service/' + service.id" class="service-catalog-card">
                    <p class="title">{{ service.title }}</p>
                    <p class="amount-of-performers">380 исполнителей</p>
                    <mat-icon>arrow_forward</mat-icon>
                </div>
            </ng-container>
        </div>
    </div>    
</ng-container>