<div class="user-and-rating">
    <div class="user">
        <img [src]="review.avatar">

        <div class="name-and-date">
            <p class="name">{{ review.name }}</p>
            <p class="date">{{ review.createdAt | date : 'dd MMMM yyyy HH:mm' }}</p>
            <app-rating-stars [stars]="review.rating"></app-rating-stars>
        </div>
    </div>

    <div class="rating">
        <app-rating-stars [stars]='review.rating'></app-rating-stars>
    </div>
</div>

<p class="title-comment">{{ review.titleComment }}</p>

<p class="comment">{{ review.comment }}</p>

<hr>

<div class="button-reply-and-likes-and-dislikes">
    <div class="button-reply">
        <p (click)="review.showReplies = true" *ngIf="review.replies && !review.showReplies" class="amount-of-comments">{{ review.replies.length }} комментариев</p>

        <p (click)="review.showReplies = false" *ngIf="review.showReplies" class="amount-of-comments">Скрыть комментарии</p>

        <p (click)="review.showReplies = true">Ответить</p>
    </div>

    <div class="likes-and-dislikes">
        <mat-icon [ngClass]='isLike ? "like" : ""' (click)='incLike(review)'>thumb_up</mat-icon>
        <p *ngIf='review.likes > 0'>{{ review.likes }}</p>
        <mat-icon [ngClass]='isDislike ? "dislike" : ""' (click)='incDislike(review)'>thumb_down</mat-icon>
        <p *ngIf='review.dislikes > 0'>{{ review.dislikes }}</p>
    </div>
</div>

<div *ngIf="review.showReplies" class="reply-and-send-replies">

    <div class="reply-and-send">
        <textarea [(ngModel)]='text' placeholder="Ваш комментарий"></textarea>
        <button [disabled]='text.length < 5' (click)='sendComment(review)'>Отправить</button>
    </div>

    <div class="replies" *ngIf='review.replies && review.replies.length'>
        <div *ngFor="let reply of review.replies" class="reply">
            <div class="reply-user">
                <img [src]="reply.avatar">
                <div class="reply-name-and-date">
                    <p class="reply-name">{{ reply.name }}</p>
                    <p class="reply-date">{{ reply.createdAt | date : 'dd MMMM yyyy HH:mm' }}</p>
                </div>
            </div>

            <div class="reply-comment">
                <hr>
                <p>{{ reply.text }}</p>
            </div>
        </div>
    </div>
</div>